{
  "openapi": "3.1.0",
  "info": {
    "title": "idto Verification API",
    "version": "2.0.0",
    "description": "idto is an identity and KYC verification platform. This API lets you run PAN, Aadhaar, bank account,\nbusiness/GST, vehicle, mobile, employment, credit-bureau, DigiLocker, driving-licence, face-match,\nliveness, document-OCR, address and eSign verifications through a single set of HTTP endpoints,\neither individually or composed into a workflow on the idto dashboard.\n\n## Response envelope (v2)\n\nEvery product under `/v2/verify/*` shares one response contract. A 2xx HTTP response always carries\n`status: \"success\"` and `billed: true`, whether the result is a full match (`error_code: null`,\n`data` populated) or a definitive no-record outcome (`error_code` set to an `IDTO_2xx` code,\n`data: null`). Callers distinguish a full match from a no-record result by checking `error_code`,\nnever by inspecting `status`: there is no `\"failed\"` status anywhere in the v2 API.\n\nA raised error (any non-2xx response) always carries `status: \"error\"`, `data: null`, `billed: false`,\nand the legacy string flags `chargeble: \"false\"` and `user_consent: \"false\"` alongside `billed: false`.\nRaised errors are never billed, with exactly one exception: `IDTO_204` (no readable Aadhaar QR found)\nis a raised, non-2xx error that is still guaranteed `billed: false` like every other raised error. It\nis called out in the error table below because it is the one product-specific error most integrators\nask about by name, not because its billing behavior differs from any other raised error.\n\n## v1 vs v2\n\n`/v2/verify/*` is the current, vendor-agnostic contract described above, used for every product that\nhas been migrated onto it. `/verify/*` (no `/v2` prefix) remains live for products that have not been\nported yet. Because v1 predates the shared envelope, each v1 product's response shape is its own:\nconsult that product's schema and examples rather than assuming the v2 envelope applies.\n\n## Idempotency\n\nSend an `Idempotency-Key` header (max 255 characters) on any v2 request to make retries safe. If the\nsame key is replayed with an identical request body, the original result is returned without re-running\nthe verification or billing again. If the same key is replayed with a **different** body, the request\nis rejected with `IDTO_010` (422). A request with the same key that is still in flight returns `IDTO_004` (409). The header is optional; omitting it runs every request as new.\n\n## Authentication\n\nEvery request to `/verify/*` and `/v2/verify/*` must include two headers: `X-Client-ID` and\n`X-API-Key`. Both are issued per environment (staging and production credentials are separate and\nnot interchangeable).\n\n## Error Codes\n\n| Code | HTTP | Message |\n|---|---|---|\n| IDTO_001 | 400 or 422 | Invalid input. Please check the request and try again. |\n| IDTO_004 | 409 | Duplicate request. Verification ID already exists. |\n| IDTO_005 | 400 | User consent is required to proceed. |\n| IDTO_006 | 429 | Too many requests. Please wait a moment and retry. |\n| IDTO_007 | 500 | Verification could not be completed due to a service configuration issue. Please contact support at tech@idto.ai. |\n| IDTO_008 | 503 | The verification service is momentarily busy. Please retry shortly. |\n| IDTO_009 | 402 | Insufficient credits or balance. Please recharge and try again. |\n| IDTO_010 | 422 | Idempotency-Key was already used with a different request body. |\n| IDTO_101 | 400 | A required parameter is missing from the request. |\n| IDTO_102 | 400 | A required parameter is missing from the request. |\n| IDTO_103 | 503 | This verification could not be completed. Please retry shortly or contact support at tech@idto.ai. |\n| IDTO_201 | 200 | Bank account is invalid or does not exist. |\n| IDTO_202 | 200 | Record is invalid or does not exist. (per-product messages may override this text) |\n| IDTO_203 | 202 | Verification is still in progress. Retrieve the result using reference_id. |\n| IDTO_204 | 422 | No readable Aadhaar QR was found in the image. (NOT billed, the sole zero-cost raised-error carve-out) |\n| IDTO_205 | 422 | Invalid OTP or session expired. Please request a new OTP. |\n| IDTO_206 | 429 | Maximum OTP attempts exceeded. Please generate a new OTP. |\n| IDTO_207 | 404 | No result found for this reference_id. |\n| IDTO_401 | 400 | The account number provided is invalid. |\n| IDTO_402 | 400 | The IFSC code provided is invalid. |\n| IDTO_403 | 503 | This verification could not be completed. Please retry shortly or contact support at tech@idto.ai. |\n| IDTO_503 | 413 | The image could not be processed. Please try a clearer, smaller image. |\n| IDTO_509 | 500 | Face match could not be completed. Please try again. |\n| IDTO_609 | 500 | Liveness could not be determined. Please try again. |",
    "contact": {
      "name": "idto Support",
      "email": "tech@idto.ai"
    }
  },
  "servers": [
    {
      "url": "https://prod.idto.ai",
      "description": "Production"
    },
    {
      "url": "https://dev.idto.ai",
      "description": "Staging: keys on request from your IDTO account manager. Calls reach live sources and deduct staging credits."
    }
  ],
  "tags": [
    {
      "name": "PAN",
      "description": "PAN validation, detailed lookups, OCR and every PAN-linked crosswalk (UAN, GST, CIN, DIN, Udyam)."
    },
    {
      "name": "Aadhaar",
      "description": "Aadhaar OKYC (OTP-based) and Aadhaar secure-QR read and verification."
    },
    {
      "name": "Bank Account",
      "description": "Bank account penny-drop verification, IFSC lookups, and bank-statement PDF processing."
    },
    {
      "name": "Business & GST",
      "description": "GSTIN, CIN/MCA, Udyam, FSSAI and shop & establishment registration checks."
    },
    {
      "name": "Vehicle & RC",
      "description": "Vehicle registration certificate, challan and FASTag lookups."
    },
    {
      "name": "Mobile & UPI",
      "description": "Mobile-number OTP, subscriber profile, and UPI VPA verification and crosswalks."
    },
    {
      "name": "Employment (EPFO/UAN)",
      "description": "EPFO employment history and UAN-linked lookups, including the async passbook flows."
    },
    {
      "name": "Credit Bureau",
      "description": "Credit reports and scores from supported bureaus, including OTP-gated pulls."
    },
    {
      "name": "DigiLocker",
      "description": "DigiLocker account linking and document fetches (Aadhaar, PAN, DL, marksheets, and more)."
    },
    {
      "name": "Driving Licence",
      "description": "Driving licence verification and OCR."
    },
    {
      "name": "Face & Liveness",
      "description": "Face-match comparison and liveness/anti-spoofing checks."
    },
    {
      "name": "Document OCR",
      "description": "OCR extraction for PAN, driving licence and Aadhaar card images."
    },
    {
      "name": "Address & Invoice",
      "description": "Address verification via OCR on invoices and utility bills."
    },
    {
      "name": "eSign",
      "description": "Electronic signature docket creation and signed-document retrieval."
    },
    {
      "name": "Webhooks",
      "description": "Webhook configuration for asynchronous result delivery.\n\n## What gets delivered\n\nTwo kinds of event are delivered by webhook: a verification-link session completing (see the\nVerification Links tag), and an eSign docket finishing signing (see the eSign tag). Both use the\nsame delivery, signing and retry mechanism described below, but the two payload shapes are\ndifferent and are not wrapped in any shared envelope.\n\n## Signing scheme\n\nThe request body sent to your `webhook_url` is compact, key-sorted JSON, produced the same way as\nPython's `json.dumps(payload, separators=(\",\", \":\"), sort_keys=True)`, and sent as raw UTF-8 bytes.\nA Unix timestamp (whole seconds, encoded as a string) is generated at send time.\n\nThe string that gets signed is built by concatenating, as bytes: the timestamp string, a literal\n`.`, then the raw request body bytes. In Python terms this is `f\"{timestamp}.\".encode() + raw_body_bytes`,\na bytes concatenation, not a string concatenation of the decoded body. The signature is\n`HMAC-SHA256(secret, signing_string)`, hex-encoded.\n\nEvery delivery carries three headers:\n\n- `X-idto-Event-Id`: a unique id for this specific delivery, used to de-duplicate retried or\n  re-sent events on your side.\n- `X-idto-Timestamp`: the same timestamp string used when building the signature.\n- `X-idto-Signature`: the signature in the form `sha256=<hex signature>`.\n\nTo verify a delivery, recompute the HMAC over `timestamp + \".\" + raw_body_bytes` using your stored\nsecret, and compare the result to `X-idto-Signature` with a constant-time comparison, never a plain\n`==` on the strings. During a secret rotation, deliveries in flight may be signed with either the\nprevious secret or the new one for a short grace window, so verify against both secrets if you have\njust rotated.\n\n## Event payloads\n\nThere is no shared `event` wrapper key across both event types, so distinguish them by shape: the\neSign event carries an explicit `event` field, the session-completion event does not.\n\nSession completion (implicit, no `event` field):\n\n```json\n{\n  \"session_id\": \"8f14e45f-ceea-467e-bd93-4a2c11e0a1b2\",\n  \"session_token\": \"sess_3c9a1e2b7d4f5061\",\n  \"status\": \"completed\",\n  \"outcome\": \"approved\",\n  \"partial\": false,\n  \"completed_steps\": [\"mobile_verification\", \"pan_validation\", \"face_match\"],\n  \"skipped_steps\": [],\n  \"fallback_steps\": [],\n  \"branch_excluded_steps\": [],\n  \"consents\": [\n    {\"type\": \"data_processing\", \"version\": \"1.0\", \"timestamp\": \"2026-09-14T10:15:30Z\"}\n  ],\n  \"event_id\": \"evt_5b6c7d8e9f0a1b2c\",\n  \"report\": {\n    \"url\": \"https://reports.idto.ai/r/8f14e45f-ceea-467e-bd93-4a2c11e0a1b2?sig=...\",\n    \"expires_at\": \"2026-09-14T11:15:30Z\",\n    \"content_type\": \"application/pdf\",\n    \"filename\": \"report.pdf\"\n  }\n}\n```\n\nThe `report` key is only present when a PDF report is attached to the session and the merchant has\nreport attachment enabled. Its `url` is a fresh, short-lived presigned link generated for that one\ndelivery, never a permanent link.\n\neSign completion:\n\n```json\n{\n  \"event\": \"esign.completed\",\n  \"event_id\": \"evt_esign_2a3b4c5d6e7f8091\",\n  \"tranx_id\": \"b6e1f2a0-1234-4abc-9def-0123456789ab\",\n  \"docket_id\": \"b6e1f2a0-1234-4abc-9def-0123456789ab\",\n  \"document_id\": \"doc_1a2b3c4d5e6f7081\",\n  \"signing_status\": \"signed\",\n  \"signed_at\": \"2026-09-14T10:15:30Z\"\n}\n```\n\nNo document bytes are included in this event. Retrieve the signed PDF separately through the eSign\ndocument-download endpoint documented elsewhere in this spec.\n\n## Delivery and retries\n\nA delivery is attempted up to 5 times with exponential backoff between attempts, starting at\nroughly 10 seconds and doubling on each retry, capped at 1 hour between tries. If every attempt is\nexhausted, the delivery is marked permanently failed and is not retried again. Events created before a signing secret exists are still attempted: they run through this same 5-attempt retry cycle and are permanently dead-lettered within a few minutes, the same as any other delivery failure. There is no separate holding queue that waits for you to configure a secret. Generate one with `POST /merchant/webhook-config/rotate-secret` before, or immediately after, setting a webhook URL, or the earliest events from that window are lost for good."
    },
    {
      "name": "Authentication",
      "description": "SDK and API authentication (added by a later documentation pass)."
    },
    {
      "name": "Court Records",
      "description": "Court and litigation record checks."
    }
  ],
  "components": {
    "securitySchemes": {
      "ClientIdAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Client-ID",
        "description": "Your client ID from the IDTO dashboard (API credentials). Send it on every server-to-server request together with X-API-Key. Staging and production client IDs are different."
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Your API key from the IDTO dashboard (API credentials). Keep it on your server; never ship it in a browser or mobile app. Send it on every server-to-server request together with X-Client-ID."
      },
      "SdkSessionToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "Short-lived SDK token (15 minutes) returned by POST /auth/sdk/token. Mint it on your server with your client ID and secret, then pass it to the IDTO SDK or send it as `Authorization: Bearer <token>` to the SDK session endpoints."
      }
    },
    "schemas": {
      "V2ErrorEnvelope": {
        "type": "object",
        "description": "Returned for every raised (non-2xx) error from a v2 endpoint. Never billed.",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "message": {
            "type": "string"
          },
          "error_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "data": {
            "type": "null"
          },
          "billed": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "chargeble": {
            "type": "string",
            "description": "Legacy string flag, always \"false\" on this path.",
            "enum": [
              "false"
            ]
          },
          "user_consent": {
            "type": "string",
            "description": "Legacy string flag, always \"false\" on this path.",
            "enum": [
              "false"
            ]
          },
          "tranx_id": {
            "type": "null"
          },
          "timestamp": {
            "type": "null"
          }
        },
        "required": [
          "status",
          "message",
          "error_code",
          "data",
          "billed"
        ]
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "loc": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            }
          },
          "msg": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "required": [
          "loc",
          "msg",
          "type"
        ]
      },
      "HTTPValidationError": {
        "type": "object",
        "description": "Returned by v1 `/verify/*` endpoints when the request body fails schema validation (wrong type, or a required field missing). v2 endpoints return `IDTO_001` in the v2 error envelope instead.",
        "properties": {
          "detail": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            }
          }
        }
      },
      "PanValidationData": {
        "type": "object",
        "properties": {
          "pan_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "pan_number": {
            "type": [
              "string",
              "null"
            ]
          },
          "pan_status": {
            "type": [
              "string",
              "null"
            ],
            "example": "Active"
          },
          "category": {
            "type": "string",
            "enum": [
              "individual",
              "company",
              "huf",
              "firm",
              "aop",
              "trust",
              "boi",
              "local_authority",
              "artificial_juridical_person",
              "government",
              "unknown"
            ]
          }
        }
      },
      "PanDetailedData": {
        "type": "object",
        "properties": {
          "pan_number": {
            "type": [
              "string",
              "null"
            ]
          },
          "full_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "full_name_split": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "masked_aadhaar": {
            "type": [
              "string",
              "null"
            ],
            "example": "XXXXXXXX1234"
          },
          "address": {
            "type": "object",
            "properties": {
              "line_1": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "line_2": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "street_name": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "city": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "state": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "pincode": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "country": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "full": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "description": "Masked."
          },
          "phone_number": {
            "type": [
              "string",
              "null"
            ],
            "description": "Masked."
          },
          "gender": {
            "type": [
              "string",
              "null"
            ]
          },
          "dob": {
            "type": [
              "string",
              "null"
            ]
          },
          "aadhaar_linked": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "category": {
            "type": "string",
            "enum": [
              "individual",
              "company",
              "huf",
              "firm",
              "aop",
              "trust",
              "boi",
              "local_authority",
              "artificial_juridical_person",
              "government",
              "unknown"
            ]
          },
          "bank_details": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "account_number": {
                  "type": "string"
                },
                "ifsc_code": {
                  "type": "string"
                },
                "bank_name": {
                  "type": "string"
                },
                "account_type": {
                  "type": "string"
                }
              }
            }
          },
          "extras": {
            "type": "object"
          }
        }
      },
      "BankVerificationData": {
        "type": "object",
        "properties": {
          "account_status": {
            "type": "string",
            "enum": [
              "VALID"
            ]
          },
          "account_holder_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "account_number": {
            "type": [
              "string",
              "null"
            ],
            "description": "Masked."
          },
          "account_ifsc": {
            "type": [
              "string",
              "null"
            ]
          },
          "utr": {
            "type": [
              "string",
              "null"
            ]
          },
          "failure_reason": {
            "type": [
              "string",
              "null"
            ]
          },
          "extras": {
            "type": "object"
          }
        }
      },
      "DigilockerData": {
        "type": "object",
        "properties": {
          "digilocker_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "dob": {
            "type": [
              "string",
              "null"
            ]
          },
          "gender": {
            "type": [
              "string",
              "null"
            ]
          },
          "extras": {
            "type": "object",
            "properties": {
              "mobile": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "email": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "eaadhaar_linked": {
                "type": [
                  "boolean",
                  "null"
                ]
              }
            }
          }
        }
      },
      "FaceMatchData": {
        "type": "object",
        "properties": {
          "is_match": {
            "type": "boolean",
            "description": "true when match_score >= 70."
          },
          "match_score": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          },
          "confidence": {
            "type": "string",
            "enum": [
              "HIGH",
              "MEDIUM",
              "LOW"
            ],
            "description": "HIGH >= 85, MEDIUM >= 60, else LOW."
          },
          "extras": {
            "type": "object"
          }
        }
      },
      "DrivingLicenceData": {
        "type": "object",
        "properties": {
          "dl_number": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "dob": {
            "type": [
              "string",
              "null"
            ]
          },
          "relative_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "address": {
            "type": [
              "string",
              "null"
            ]
          },
          "pincode": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": [
              "string",
              "null"
            ],
            "example": "Active"
          },
          "issuing_authority": {
            "type": "object",
            "properties": {
              "rto": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "state": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "validity": {
            "type": "object",
            "properties": {
              "non_transport": {
                "type": "object",
                "properties": {
                  "issue_date": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "expiry_date": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              },
              "transport": {
                "type": "object",
                "properties": {
                  "issue_date": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "expiry_date": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              }
            }
          },
          "vehicle_classes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "category": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "authority": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              }
            }
          },
          "blood_group": {
            "type": [
              "string",
              "null"
            ]
          },
          "photo": {
            "type": [
              "string",
              "null"
            ],
            "description": "Base64. Present only for some records."
          }
        }
      },
      "LivenessData": {
        "type": "object",
        "properties": {
          "is_live": {
            "type": "boolean"
          },
          "liveness_score": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "extras": {
            "type": "object",
            "description": "Diagnostic fields; presence varies by result.",
            "properties": {
              "spoof_cues": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "spoof_cues_evaluated": {
                "type": "boolean"
              },
              "failed_checks": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "liveness_confidence": {
                "type": "number"
              }
            }
          }
        }
      },
      "OkycGenerateOtpData": {
        "type": "object",
        "properties": {
          "session_id": {
            "type": "string"
          }
        }
      },
      "AadhaarQrData": {
        "type": "object",
        "properties": {
          "authentic": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "null when the UIDAI signature could not be checked at all."
          },
          "is_signed": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "reference_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Masked when the QR is an old, unsigned format."
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "dob": {
            "type": [
              "string",
              "null"
            ]
          },
          "gender": {
            "type": [
              "string",
              "null"
            ]
          },
          "address": {
            "type": [
              "string",
              "null"
            ]
          },
          "pincode": {
            "type": [
              "string",
              "null"
            ]
          },
          "has_photo": {
            "type": "boolean"
          },
          "photo": {
            "type": [
              "string",
              "null"
            ],
            "description": "Base64. Never persisted server-side."
          },
          "photo_mime": {
            "type": [
              "string",
              "null"
            ]
          },
          "extras": {
            "type": "object",
            "properties": {
              "signature_verified": {
                "type": [
                  "boolean",
                  "null"
                ]
              },
              "format": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "secure_qr",
                  "old_xml",
                  null
                ]
              },
              "care_of": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "house": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "street": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "landmark": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "location": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "vtc": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "subdistrict": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "post_office": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "district": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "state": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "mobile_registered": {
                "type": [
                  "boolean",
                  "null"
                ]
              },
              "email_registered": {
                "type": [
                  "boolean",
                  "null"
                ]
              }
            }
          }
        }
      },
      "PanOcrData": {
        "type": "object",
        "properties": {
          "pan_number": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "father_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "dob": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "DlOcrData": {
        "type": "object",
        "properties": {
          "dl_number": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "relative_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "address": {
            "type": [
              "string",
              "null"
            ]
          },
          "dob": {
            "type": [
              "string",
              "null"
            ]
          },
          "doi": {
            "type": [
              "string",
              "null"
            ],
            "description": "Date of issue."
          },
          "doe": {
            "type": [
              "string",
              "null"
            ],
            "description": "Date of expiry."
          },
          "blood_group": {
            "type": [
              "string",
              "null"
            ]
          },
          "pincode": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "AadhaarOcrData": {
        "type": "object",
        "properties": {
          "aadhaar_number": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "care_of": {
            "type": [
              "string",
              "null"
            ]
          },
          "address": {
            "type": [
              "string",
              "null"
            ]
          },
          "dob": {
            "type": [
              "string",
              "null"
            ]
          },
          "gender": {
            "type": [
              "string",
              "null"
            ]
          },
          "pincode": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "InvoiceOcrData": {
        "type": "object",
        "properties": {
          "document_type": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "TAX_INVOICE",
              "UTILITY_BILL",
              "DELIVERY_CHALLAN",
              "RENT_AGREEMENT",
              "BANK_STATEMENT",
              "OTHER",
              null
            ]
          },
          "buyer": {
            "$ref": "#/components/schemas/InvoiceParty"
          },
          "vendor": {
            "$ref": "#/components/schemas/InvoiceParty"
          },
          "invoice_details": {
            "type": "object",
            "properties": {
              "invoice_number": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "invoice_date": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "order_reference": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "line_items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "description": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "hsn_sac": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "quantity": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "unit_rate": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "total_amount": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              }
            }
          },
          "totals": {
            "type": "object",
            "properties": {
              "cgst": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "sgst": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "igst": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "grand_total": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "amount_in_words": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "bank_details": {
            "type": "object",
            "properties": {
              "account_number": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Masked."
              },
              "ifsc": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "bank_name": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          }
        }
      },
      "InvoiceParty": {
        "type": "object",
        "properties": {
          "address": {
            "type": [
              "string",
              "null"
            ]
          },
          "contact": {
            "type": [
              "string",
              "null"
            ]
          },
          "email": {
            "type": [
              "string",
              "null"
            ]
          },
          "gstin": {
            "type": [
              "string",
              "null"
            ],
            "description": "Masked."
          },
          "pan": {
            "type": [
              "string",
              "null"
            ],
            "description": "Masked."
          },
          "state": {
            "type": [
              "string",
              "null"
            ]
          },
          "state_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "EsignDocument": {
        "type": "object",
        "properties": {
          "reference_doc_id": {
            "type": "string"
          },
          "content_type": {
            "type": "string",
            "enum": [
              "pdf"
            ]
          },
          "content": {
            "type": "string",
            "description": "Base64-encoded PDF, max 10MB.",
            "format": "byte"
          },
          "signature_sequence": {
            "type": "integer"
          },
          "return_url": {
            "type": "string"
          }
        },
        "required": [
          "reference_doc_id",
          "content_type",
          "content",
          "signature_sequence"
        ]
      },
      "EsignSignerPosition": {
        "type": "object",
        "properties": {
          "appearance": {
            "oneOf": [
              {
                "type": "string",
                "description": "A preset placement keyword."
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "x1": {
                      "type": "number"
                    },
                    "y1": {
                      "type": "number"
                    },
                    "x2": {
                      "type": "number"
                    },
                    "y2": {
                      "type": "number"
                    }
                  }
                }
              }
            ]
          },
          "page_number": {
            "type": "integer"
          }
        }
      },
      "EsignSignerInfo": {
        "type": "object",
        "properties": {
          "signer_ref_id": {
            "type": "string"
          },
          "signer_name": {
            "type": "string",
            "example": "RAHUL SHARMA"
          },
          "signer_email": {
            "type": "string",
            "example": "rahul.sharma@example.com"
          },
          "signer_mobile": {
            "type": "string",
            "example": "9999999999"
          },
          "signature_type": {
            "type": "string"
          },
          "trigger_esign_request": {
            "type": "boolean"
          },
          "authentication_mode": {
            "type": "string"
          },
          "document_to_be_signed": {
            "type": "string"
          },
          "signer_position": {
            "$ref": "#/components/schemas/EsignSignerPosition"
          },
          "page_number": {
            "type": "integer"
          },
          "sequence": {
            "type": "integer"
          }
        },
        "required": [
          "signer_ref_id",
          "signer_name",
          "signer_email",
          "signer_mobile",
          "signature_type",
          "trigger_esign_request",
          "authentication_mode",
          "document_to_be_signed",
          "signer_position",
          "page_number",
          "sequence"
        ]
      },
      "EsignRequest": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string"
          },
          "agreement_type": {
            "type": "string"
          },
          "loan_agreement_number": {
            "type": "string"
          },
          "docket_title": {
            "type": "string"
          },
          "docket_description": {
            "type": "string"
          },
          "final_copy_recipients": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "callback_file_content": {
            "type": "string"
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EsignDocument"
            }
          },
          "signers_info": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EsignSignerInfo"
            }
          }
        },
        "required": [
          "agreement_type",
          "docket_title",
          "docket_description",
          "final_copy_recipients",
          "documents",
          "signers_info"
        ]
      },
      "EsignDocumentRequest": {
        "type": "object",
        "properties": {
          "docket_id": {
            "type": "string"
          },
          "document_id": {
            "type": "string"
          }
        },
        "required": [
          "docket_id"
        ]
      },
      "SdkTokenRequest": {
        "type": "object",
        "properties": {
          "client_id": {
            "type": "string",
            "description": "The merchant's long-lived client id."
          },
          "client_secret": {
            "type": "string",
            "description": "The merchant's long-lived API key."
          }
        },
        "required": [
          "client_id",
          "client_secret"
        ]
      },
      "SdkTokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "A short-lived JWT."
          },
          "token_type": {
            "type": "string",
            "enum": [
              "bearer"
            ]
          },
          "expires_in": {
            "type": "integer",
            "example": 900
          },
          "session_id": {
            "type": "string",
            "description": "Present when this token is bound to a specific verification session."
          }
        },
        "required": [
          "access_token",
          "token_type",
          "expires_in"
        ]
      },
      "V1WrappedError": {
        "type": "object",
        "description": "Error body returned by v1 `/verify/*` endpoints when the request reached the verification step and failed. Not billed.",
        "properties": {
          "detail": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "example": "error"
              },
              "message": {
                "type": "string"
              },
              "error_code": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "data": {
                "type": "null"
              },
              "tranx_id": {
                "type": "string"
              },
              "timestamp": {
                "type": "string"
              }
            },
            "required": [
              "status",
              "message"
            ]
          }
        },
        "required": [
          "detail"
        ]
      }
    },
    "responses": {
      "ValidationError422": {
        "description": "The request body failed schema-level validation (wrong type, or a required field missing entirely).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/HTTPValidationError"
            },
            "examples": {
              "missing_field": {
                "summary": "Required field missing",
                "value": {
                  "detail": [
                    {
                      "loc": [
                        "body",
                        "user_consent"
                      ],
                      "msg": "Field required",
                      "type": "missing"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "RateLimited429": {
        "description": "Too many requests against this endpoint in a short window.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2ErrorEnvelope"
            },
            "examples": {
              "default": {
                "summary": "Rate limited",
                "value": {
                  "status": "error",
                  "message": "Too many requests. Please wait a moment and retry.",
                  "error_code": "IDTO_006",
                  "data": null,
                  "billed": false,
                  "chargeble": "false",
                  "user_consent": "false"
                }
              }
            }
          }
        }
      },
      "InsufficientCredits402": {
        "description": "`IDTO_009`, not billed. On Aadhaar OKYC send OTP it means your IDTO balance cannot cover the call: recharge from the dashboard and retry. On face match, liveness and PAN detailed it means the verification source reported a credit limit: retry later or write to tech@idto.ai.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2ErrorEnvelope"
            },
            "examples": {
              "default": {
                "summary": "Insufficient credits",
                "value": {
                  "status": "error",
                  "message": "Insufficient credits or balance. Please recharge and try again.",
                  "error_code": "IDTO_009",
                  "data": null,
                  "billed": false,
                  "chargeble": "false",
                  "user_consent": "false"
                }
              }
            }
          }
        }
      },
      "ServiceConfigError500": {
        "description": "A service configuration issue prevented the verification from running (not caused by the request).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2ErrorEnvelope"
            },
            "examples": {
              "default": {
                "summary": "Config error",
                "value": {
                  "status": "error",
                  "message": "Verification could not be completed due to a service configuration issue. Please contact support at tech@idto.ai.",
                  "error_code": "IDTO_007",
                  "data": null,
                  "billed": false,
                  "chargeble": "false",
                  "user_consent": "false"
                }
              }
            }
          }
        }
      },
      "ServiceBusy503": {
        "description": "The verification service is momentarily saturated.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2ErrorEnvelope"
            },
            "examples": {
              "default": {
                "summary": "Service busy",
                "value": {
                  "status": "error",
                  "message": "The verification service is momentarily busy. Please retry shortly.",
                  "error_code": "IDTO_008",
                  "data": null,
                  "billed": false,
                  "chargeble": "false",
                  "user_consent": "false"
                }
              }
            }
          }
        }
      },
      "ValidationOrIdempotencyError422": {
        "description": "Either the request body failed schema validation (wrong type, or a required field missing), which returns `IDTO_001`, or an `Idempotency-Key` was reused with a different request body, which returns `IDTO_010`. Both use the standard v2 error envelope; the `IDTO_001` message names the failing field when it can.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2ErrorEnvelope"
            },
            "examples": {
              "missing_field": {
                "summary": "Required field missing",
                "value": {
                  "status": "error",
                  "message": "Invalid input. Please check the request and try again.",
                  "error_code": "IDTO_001",
                  "data": null,
                  "billed": false,
                  "chargeble": "false",
                  "user_consent": "false"
                }
              },
              "idempotency_conflict": {
                "summary": "Idempotency-Key reused with a different body",
                "value": {
                  "status": "error",
                  "message": "Idempotency-Key was already used with a different request body.",
                  "error_code": "IDTO_010",
                  "data": null,
                  "billed": false,
                  "chargeble": "false",
                  "user_consent": "false"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "ClientIdAuth": [],
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/v2/verify/aadhaar_ocr": {
      "post": {
        "tags": [
          "Document OCR"
        ],
        "summary": "Extract Aadhaar card fields from an image",
        "description": "Reads a photo or scan of an Aadhaar card (front or back) and returns the Aadhaar number, name, date of birth, gender, care-of, address and pincode. The Aadhaar number is returned unmasked: mask it before you display or store it. Maximum upload 12 MB.",
        "security": [
          {
            "ClientIdAuth": [],
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "422": {
            "$ref": "#/components/responses/ValidationOrIdempotencyError422"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited429"
          },
          "500": {
            "$ref": "#/components/responses/ServiceConfigError500"
          },
          "503": {
            "$ref": "#/components/responses/ServiceBusy503"
          },
          "200": {
            "description": "The image was OCR'd.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "error_code": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "null on a full match, an IDTO_2xx code on a definitive no-record result. Both are billed."
                    },
                    "data": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/AadhaarOcrData"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "billed": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "tranx_id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "timestamp": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "error_code",
                    "data",
                    "billed"
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Read",
                    "value": {
                      "status": "success",
                      "message": "Aadhaar details extracted successfully.",
                      "error_code": null,
                      "data": {
                        "aadhaar_number": "999999990019",
                        "name": "RAHUL SHARMA",
                        "care_of": "S/O SURESH SHARMA",
                        "address": "12 SAMPLE STREET, SAMPLE AREA, BENGALURU, KARNATAKA-560001",
                        "dob": "1990-01-01",
                        "gender": "male",
                        "pincode": "560001"
                      },
                      "billed": true,
                      "tranx_id": "8f14e45f-ceea-467e-bd93-4a2c11e0a1b2",
                      "timestamp": "2026-09-14T10:15:30Z"
                    }
                  },
                  "no_record": {
                    "summary": "Unreadable",
                    "value": {
                      "status": "success",
                      "message": "No Aadhaar could be read from the document. Please upload a clear Aadhaar image.",
                      "error_code": "IDTO_202",
                      "data": null,
                      "billed": true,
                      "tranx_id": "8f14e45f-ceea-467e-bd93-4a2c11e0a1b2",
                      "timestamp": "2026-09-14T10:15:30Z"
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "The uploaded image exceeds the processing size limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Image too large",
                    "value": {
                      "status": "error",
                      "message": "The image could not be processed. Please try a clearer, smaller image.",
                      "error_code": "IDTO_503",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Photo or scan of the Aadhaar card, at most 12 MB."
                  },
                  "workflow_session_token": {
                    "type": "string",
                    "description": "Only when the call is made inside an IDTO workflow session."
                  }
                },
                "required": [
                  "file"
                ]
              },
              "example": {
                "file": "aadhaar-front.jpg"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Make retries of this exact request safe. If the same key is replayed with an identical request body, the original result is returned without re-running the verification or billing again. If the same key is replayed with a different body, the request is rejected with `IDTO_010` (422). Omitting this header runs every request as new.",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ]
      }
    },
    "/v2/verify/aadhaar_qr": {
      "post": {
        "tags": [
          "Aadhaar"
        ],
        "summary": "Read and verify an Aadhaar secure QR",
        "description": "Reads an Aadhaar QR code and, for a secure QR, checks its UIDAI digital signature. Send either an image of the QR as multipart/form-data, or the decoded QR text as JSON `qr_data`, never both. Every readable QR is billed, whether or not its signature checks out: read `data.authentic` before you trust the card.",
        "security": [
          {
            "ClientIdAuth": [],
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "422": {
            "description": "No readable Aadhaar QR in the image (IDTO_204, not billed), or an Idempotency-Key was reused with a different body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2ErrorEnvelope"
                },
                "examples": {
                  "no_qr": {
                    "summary": "No QR found",
                    "value": {
                      "status": "error",
                      "message": "No readable Aadhaar QR was found in the image.",
                      "error_code": "IDTO_204",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  },
                  "idempotency_conflict": {
                    "summary": "Idempotency-Key reused with a different body",
                    "value": {
                      "status": "error",
                      "message": "Idempotency-Key was already used with a different request body.",
                      "error_code": "IDTO_010",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited429"
          },
          "500": {
            "$ref": "#/components/responses/ServiceConfigError500"
          },
          "503": {
            "$ref": "#/components/responses/ServiceBusy503"
          },
          "200": {
            "description": "The QR was read. All four outcomes are HTTP 200 and billed. Only `authentic: true` means the UIDAI signature was checked and matched.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "error_code": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "null on a full match, an IDTO_2xx code on a definitive no-record result. Both are billed."
                    },
                    "data": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/AadhaarQrData"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "billed": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "tranx_id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "timestamp": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "error_code",
                    "data",
                    "billed"
                  ]
                },
                "examples": {
                  "verified": {
                    "summary": "Signed and verified",
                    "value": {
                      "status": "success",
                      "message": "Aadhaar QR verified successfully.",
                      "error_code": null,
                      "data": {
                        "authentic": true,
                        "is_signed": true,
                        "reference_id": "123420190101120000000",
                        "name": "RAHUL SHARMA",
                        "dob": "01-01-1990",
                        "gender": "M",
                        "address": "S/O: SURESH SHARMA, 12, SAMPLE STREET, SAMPLE AREA, BENGALURU, KARNATAKA, 560001",
                        "pincode": "560001",
                        "has_photo": false,
                        "photo": null,
                        "photo_mime": null,
                        "extras": {
                          "signature_verified": true,
                          "format": "secure_qr",
                          "care_of": "S/O: SURESH SHARMA",
                          "house": "12",
                          "street": "SAMPLE STREET",
                          "location": "SAMPLE AREA",
                          "vtc": "BENGALURU",
                          "district": "BENGALURU",
                          "state": "KARNATAKA",
                          "mobile_registered": true,
                          "email_registered": false
                        }
                      },
                      "billed": true,
                      "tranx_id": "8f14e45f-ceea-467e-bd93-4a2c11e0a1b2",
                      "timestamp": "2026-10-01T10:15:30Z"
                    }
                  },
                  "signature_mismatch": {
                    "summary": "Signature mismatch",
                    "value": {
                      "status": "success",
                      "message": "Aadhaar QR was read, but its UIDAI signature did not match. Do not treat this card as verified.",
                      "error_code": null,
                      "data": {
                        "authentic": false,
                        "is_signed": true,
                        "reference_id": "123420190101120000000",
                        "name": "RAHUL SHARMA",
                        "dob": "01-01-1990",
                        "gender": "M",
                        "address": "S/O: SURESH SHARMA, 12, SAMPLE STREET, SAMPLE AREA, BENGALURU, KARNATAKA, 560001",
                        "pincode": "560001",
                        "has_photo": false,
                        "photo": null,
                        "photo_mime": null,
                        "extras": {
                          "signature_verified": false,
                          "format": "secure_qr",
                          "care_of": "S/O: SURESH SHARMA",
                          "house": "12",
                          "street": "SAMPLE STREET",
                          "location": "SAMPLE AREA",
                          "vtc": "BENGALURU",
                          "district": "BENGALURU",
                          "state": "KARNATAKA",
                          "mobile_registered": true,
                          "email_registered": false
                        }
                      },
                      "billed": true,
                      "tranx_id": "8f14e45f-ceea-467e-bd93-4a2c11e0a1b2",
                      "timestamp": "2026-10-01T10:15:30Z"
                    }
                  },
                  "unsigned": {
                    "summary": "Old unsigned QR",
                    "value": {
                      "status": "success",
                      "message": "Aadhaar QR was read. It carries no UIDAI signature to verify.",
                      "error_code": null,
                      "data": {
                        "authentic": null,
                        "is_signed": false,
                        "reference_id": "XXXXXXXX0019",
                        "name": "RAHUL SHARMA",
                        "dob": "1990",
                        "gender": "M",
                        "address": "S/O: SURESH SHARMA, 12, SAMPLE STREET, SAMPLE AREA, BENGALURU, KARNATAKA, 560001",
                        "pincode": "560001",
                        "has_photo": false,
                        "photo": null,
                        "photo_mime": null,
                        "extras": {
                          "format": "old_xml",
                          "care_of": "S/O: SURESH SHARMA",
                          "house": "12",
                          "street": "SAMPLE STREET",
                          "location": "SAMPLE AREA",
                          "vtc": "BENGALURU",
                          "district": "BENGALURU",
                          "state": "KARNATAKA"
                        }
                      },
                      "billed": true,
                      "tranx_id": "8f14e45f-ceea-467e-bd93-4a2c11e0a1b2",
                      "timestamp": "2026-10-01T10:15:30Z"
                    }
                  },
                  "signed_unchecked": {
                    "summary": "Signature not checked",
                    "value": {
                      "status": "success",
                      "message": "Aadhaar QR was read, but its UIDAI signature was not checked. Treat this card as unverified.",
                      "error_code": null,
                      "data": {
                        "authentic": null,
                        "is_signed": true,
                        "reference_id": "123420190101120000000",
                        "name": "RAHUL SHARMA",
                        "dob": "01-01-1990",
                        "gender": "M",
                        "address": "12 SAMPLE STREET, SAMPLE AREA, BENGALURU, KARNATAKA-560001",
                        "pincode": "560001",
                        "has_photo": false,
                        "photo": null,
                        "photo_mime": null,
                        "extras": {}
                      },
                      "billed": true,
                      "tranx_id": "8f14e45f-ceea-467e-bd93-4a2c11e0a1b2",
                      "timestamp": "2026-10-01T10:15:30Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Neither or both of `file` and `qr_data` were sent, or consent is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2ErrorEnvelope"
                },
                "examples": {
                  "both_or_neither": {
                    "summary": "Ambiguous input",
                    "value": {
                      "status": "error",
                      "message": "Invalid input: send exactly one of an Aadhaar QR image or qr_data. Please check and retry.",
                      "error_code": "IDTO_001",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  },
                  "missing_consent": {
                    "summary": "Missing consent",
                    "value": {
                      "status": "error",
                      "message": "User consent is required to proceed.",
                      "error_code": "IDTO_005",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "The uploaded image is larger than the size limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Image too large",
                    "value": {
                      "status": "error",
                      "message": "The image could not be processed. Please try a clearer, smaller image.",
                      "error_code": "IDTO_503",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "An image of the Aadhaar QR code. Required if not sending `qr_data`."
                  },
                  "user_consent": {
                    "type": "string",
                    "enum": [
                      "true",
                      "1",
                      "yes"
                    ]
                  },
                  "include_photo": {
                    "type": "string",
                    "enum": [
                      "true",
                      "1",
                      "yes"
                    ]
                  }
                },
                "required": [
                  "user_consent"
                ]
              },
              "example": {
                "file": "aadhaar-qr.jpg",
                "user_consent": "true",
                "include_photo": "false"
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "qr_data": {
                    "type": "string",
                    "description": "Raw payload decoded from the Aadhaar secure QR. Required if not sending `file`."
                  },
                  "user_consent": {
                    "type": "boolean"
                  },
                  "include_photo": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "user_consent"
                ]
              },
              "example": {
                "qr_data": "<decoded secure QR text>",
                "user_consent": true,
                "include_photo": false
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Make retries of this exact request safe. If the same key is replayed with an identical request body, the original result is returned without re-running the verification or billing again. If the same key is replayed with a different body, the request is rejected with `IDTO_010` (422). Omitting this header runs every request as new.",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ]
      }
    },
    "/v2/verify/bank_verification": {
      "post": {
        "tags": [
          "Bank Account"
        ],
        "summary": "Verify a bank account (penny drop)",
        "description": "Confirms that a bank account exists and can receive money, and returns the name registered on it. A valid account returns `error_code: null` with `data`. An invalid, closed or non-existent account returns HTTP 200 with `error_code: \"IDTO_202\"` and `data: null`. Both are billed. Any other failure is a non-2xx error and is never billed.\n\nWhen you do not send an `Idempotency-Key`, IDTO still blocks a second identical request (same body) while the first is running: the second gets `IDTO_004` (409). Once the first finishes, an identical request runs again and is billed again. Send an `Idempotency-Key` to have retries replay the stored result instead.",
        "security": [
          {
            "ClientIdAuth": [],
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional, at most 255 characters, scoped to your account. Replaying a key with the same body returns the stored result of the first call without running or billing again (kept for 48 hours). The same key with a different body returns `IDTO_010` (422). The same key while the first call is still running returns `IDTO_004` (409). If the first call returned an error, nothing is stored and a retry runs again. Without this header, identical concurrent requests are still blocked with `IDTO_004`.",
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "example": "order-1001-bank"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account_number": {
                    "type": "string",
                    "description": "Account number, 6 to 40 letters or digits, no spaces or symbols.",
                    "pattern": "^[A-Za-z0-9]{6,40}$"
                  },
                  "ifsc": {
                    "type": "string",
                    "description": "IFSC of the account's branch: 4 letters, a zero, then 6 letters or digits. Case-insensitive. Also accepted as `ifsc_code`.",
                    "pattern": "^[A-Za-z]{4}0[A-Za-z0-9]{6}$"
                  },
                  "name": {
                    "type": "string",
                    "description": "Optional. The name you expect on the account. The response carries no match result for it, so compare it with `data.account_holder_name` yourself."
                  },
                  "reference_id": {
                    "type": "string",
                    "description": "Optional. Your own reference for this check, 1 to 40 letters, digits or hyphens.",
                    "pattern": "^[A-Za-z0-9-]{1,40}$"
                  },
                  "user_id": {
                    "type": "string",
                    "description": "Optional. Your identifier for the end user, stored with the call."
                  },
                  "workflow_session_token": {
                    "type": "string",
                    "description": "Optional. Set only when this call runs inside an IDTO workflow session. If that session is priced per workflow, the call is free and `billed` is `false`."
                  }
                },
                "required": [
                  "account_number",
                  "ifsc"
                ]
              },
              "examples": {
                "basic": {
                  "summary": "Account number and IFSC",
                  "value": {
                    "account_number": "000111222333",
                    "ifsc": "ABCD0123456"
                  }
                },
                "full": {
                  "summary": "With expected name and your reference",
                  "value": {
                    "account_number": "000111222333",
                    "ifsc": "ABCD0123456",
                    "name": "RAHUL SHARMA",
                    "reference_id": "order-1001"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The check ran to completion. Billed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "error_code": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "enum": [
                        null,
                        "IDTO_202"
                      ],
                      "description": "`null` when the account is valid. `IDTO_202` when the account is invalid or does not exist; `data` is then `null`. Both outcomes are billed."
                    },
                    "data": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/BankVerificationData"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "billed": {
                      "type": "boolean",
                      "description": "`true` when this call was charged. `false` only when a per-workflow priced `workflow_session_token` covers the call."
                    },
                    "chargeble": {
                      "type": "string",
                      "enum": [
                        "true",
                        "false"
                      ],
                      "description": "Legacy string form of `billed`."
                    },
                    "user_consent": {
                      "type": "string",
                      "enum": [
                        "true",
                        "false"
                      ],
                      "description": "Legacy string form of `billed`."
                    },
                    "tranx_id": {
                      "type": "string",
                      "description": "IDTO transaction id. Quote it to support."
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "error_code",
                    "data",
                    "billed"
                  ]
                },
                "examples": {
                  "valid": {
                    "summary": "Valid account (billed)",
                    "value": {
                      "status": "success",
                      "message": "Bank account verified successfully.",
                      "error_code": null,
                      "data": {
                        "account_status": "VALID",
                        "account_holder_name": "RAHUL SHARMA",
                        "account_number": "********2333",
                        "account_ifsc": "ABCD0123456",
                        "utr": "SAMPLEUTR0001",
                        "failure_reason": null,
                        "extras": {}
                      },
                      "billed": true,
                      "chargeble": "true",
                      "user_consent": "true",
                      "tranx_id": "8f14e45f-ceea-467e-bd93-4a2c11e0a1b2",
                      "timestamp": "2026-09-14T10:15:30.123456+00:00"
                    }
                  },
                  "invalid": {
                    "summary": "Invalid or non-existent account, IDTO_202 (billed)",
                    "value": {
                      "status": "success",
                      "message": "Bank account is invalid or does not exist.",
                      "error_code": "IDTO_202",
                      "data": null,
                      "billed": true,
                      "chargeble": "true",
                      "user_consent": "true",
                      "tranx_id": "8f14e45f-ceea-467e-bd93-4a2c11e0a1b2",
                      "timestamp": "2026-09-14T10:15:30.123456+00:00"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was rejected before or during the check. Not billed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2ErrorEnvelope"
                },
                "examples": {
                  "missing_fields": {
                    "summary": "Empty account number or IFSC, IDTO_001",
                    "value": {
                      "status": "error",
                      "message": "Account number and IFSC code are required fields.",
                      "error_code": "IDTO_001",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  },
                  "invalid_account_format": {
                    "summary": "Malformed account number, IDTO_001",
                    "value": {
                      "status": "error",
                      "message": "Invalid account number provided.",
                      "error_code": "IDTO_001",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  },
                  "invalid_ifsc_format": {
                    "summary": "Malformed IFSC, IDTO_001",
                    "value": {
                      "status": "error",
                      "message": "Invalid IFSC code.",
                      "error_code": "IDTO_001",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  },
                  "invalid_reference_id": {
                    "summary": "Malformed reference_id, IDTO_001",
                    "value": {
                      "status": "error",
                      "message": "Invalid reference_id.",
                      "error_code": "IDTO_001",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  },
                  "key_too_long": {
                    "summary": "Idempotency-Key over 255 characters, IDTO_001",
                    "value": {
                      "status": "error",
                      "message": "Idempotency-Key must be at most 255 characters.",
                      "error_code": "IDTO_001",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  },
                  "account_rejected": {
                    "summary": "Account number rejected by the bank network, IDTO_401",
                    "value": {
                      "status": "error",
                      "message": "The account number provided is invalid.",
                      "error_code": "IDTO_401",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  },
                  "ifsc_rejected": {
                    "summary": "IFSC rejected by the bank network, IDTO_402",
                    "value": {
                      "status": "error",
                      "message": "The IFSC code provided is invalid.",
                      "error_code": "IDTO_402",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  },
                  "missing_parameter": {
                    "summary": "Required parameter missing, IDTO_101",
                    "value": {
                      "status": "error",
                      "message": "A required parameter is missing from the request.",
                      "error_code": "IDTO_101",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "An identical request (same body, or same `Idempotency-Key`) is still running. Retry after it finishes. Not billed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2ErrorEnvelope"
                },
                "examples": {
                  "in_flight": {
                    "summary": "Identical request already running, IDTO_004",
                    "value": {
                      "status": "error",
                      "message": "An identical request is already in progress; retry shortly.",
                      "error_code": "IDTO_004",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationOrIdempotencyError422"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited429"
          },
          "500": {
            "$ref": "#/components/responses/ServiceConfigError500"
          },
          "503": {
            "description": "The check could not complete right now. Retry later. Not billed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2ErrorEnvelope"
                },
                "examples": {
                  "busy": {
                    "summary": "Bank network or service busy, IDTO_008",
                    "value": {
                      "status": "error",
                      "message": "The verification service is momentarily busy. Please retry shortly.",
                      "error_code": "IDTO_008",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  },
                  "not_completed": {
                    "summary": "Check could not complete, IDTO_103",
                    "value": {
                      "status": "error",
                      "message": "This verification could not be completed. Please retry shortly or contact support at tech@idto.ai.",
                      "error_code": "IDTO_103",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/verify/bank_verification/pennyless": {
      "post": {
        "tags": [
          "Bank Account"
        ],
        "summary": "Verify a bank account without a penny drop",
        "description": "Checks a bank account by account number and IFSC without sending a deposit to it. Charged only when the response `status` is `success`. This endpoint has no idempotency support: a retry can be charged twice. Prefer [Bank verification](/api-reference/bank/bank-verification) when you need a fixed response contract and safe retries.",
        "security": [
          {
            "ClientIdAuth": [],
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account_number": {
                    "type": "string",
                    "description": "Account number."
                  },
                  "ifsc": {
                    "type": "string",
                    "description": "IFSC of the account's branch. Also accepted as `ifsc_code`."
                  },
                  "name": {
                    "type": "string",
                    "description": "Optional. The name you expect on the account."
                  },
                  "user_id": {
                    "type": "string",
                    "description": "Optional. Your identifier for the end user, stored with the call."
                  },
                  "workflow_session_token": {
                    "type": "string",
                    "description": "Optional. Set only when this call runs inside an IDTO workflow session; a per-workflow priced session covers the charge."
                  }
                },
                "required": [
                  "account_number",
                  "ifsc"
                ]
              },
              "examples": {
                "basic": {
                  "summary": "Account number and IFSC",
                  "value": {
                    "account_number": "000111222333",
                    "ifsc": "ABCD0123456"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The check ran. Charged only when `status` is `success`. An account found invalid can return `status: \"success\"` with `result.is_valid: false`, which is charged.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "`success` when the check ran to an answer. Only `success` is charged."
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "account_holder_name": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Name registered on the account. `null` when the account is not valid."
                        },
                        "account_number": {
                          "type": "string",
                          "description": "The account number checked."
                        },
                        "account_ifsc": {
                          "type": "string",
                          "description": "IFSC checked."
                        },
                        "is_valid": {
                          "type": "boolean",
                          "description": "`true` when the account exists and is active."
                        },
                        "failure_reason": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Why the account is not valid. `null` when it is valid."
                        },
                        "npci_error_code": {
                          "type": "string",
                          "description": "Response code from the bank network. Can be empty."
                        },
                        "user": {
                          "type": "null",
                          "description": "Always `null`."
                        }
                      }
                    },
                    "tranx_id": {
                      "type": "string",
                      "description": "IDTO transaction id. Quote it to support."
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "chargeble": {
                      "type": "string",
                      "enum": [
                        "true"
                      ],
                      "description": "Present with `\"true\"` only when this call was charged."
                    },
                    "user_consent": {
                      "type": "string",
                      "enum": [
                        "true"
                      ],
                      "description": "Present with `\"true\"` only when this call was charged."
                    }
                  },
                  "required": [
                    "status",
                    "tranx_id",
                    "timestamp"
                  ]
                },
                "examples": {
                  "valid": {
                    "summary": "Valid account (charged)",
                    "value": {
                      "status": "success",
                      "result": {
                        "failure_reason": null,
                        "account_number": "000111222333",
                        "user": null,
                        "is_valid": true,
                        "account_holder_name": "RAHUL SHARMA",
                        "account_ifsc": "ABCD0123456",
                        "npci_error_code": "00"
                      },
                      "tranx_id": "8f14e45f-ceea-467e-bd93-4a2c11e0a1b2",
                      "timestamp": "2026-09-14T10:15:30.123456+00:00",
                      "chargeble": "true",
                      "user_consent": "true"
                    }
                  },
                  "invalid": {
                    "summary": "Invalid account (charged)",
                    "value": {
                      "status": "success",
                      "result": {
                        "failure_reason": "Account does not exist",
                        "account_number": "000111222333",
                        "user": null,
                        "is_valid": false,
                        "account_holder_name": null,
                        "account_ifsc": "ABCD0123456",
                        "npci_error_code": ""
                      },
                      "tranx_id": "8f14e45f-ceea-467e-bd93-4a2c11e0a1b2",
                      "timestamp": "2026-09-14T10:15:30.123456+00:00",
                      "chargeble": "true",
                      "user_consent": "true"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The check did not run. Not billed. Other non-2xx statuses in this same `detail` shape can be returned when the check fails at the bank network.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1WrappedError"
                },
                "examples": {
                  "insufficient_credits": {
                    "summary": "Not enough credits",
                    "value": {
                      "detail": {
                        "status": "error",
                        "message": "Insufficient credits for this operation.",
                        "error_code": null,
                        "data": null,
                        "tranx_id": "8f14e45f-ceea-467e-bd93-4a2c11e0a1b2",
                        "timestamp": "2026-09-14T10:15:30.123456+00:00"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Credentials missing or invalid. Not billed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "missing_auth": {
                    "summary": "Missing or invalid credentials",
                    "value": {
                      "detail": "Authentication required. Provide either a valid JWT token, API key + client ID, or SDK token."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Client or account inactive. Not billed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "inactive": {
                    "summary": "Inactive client",
                    "value": {
                      "detail": "Client is inactive"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError422"
          },
          "500": {
            "description": "The call failed on IDTO's side. The body is not part of the contract; retry later. Not billed."
          }
        }
      }
    },
[...]
