{
  "openapi": "3.1.0",
  "info": {
    "title": "idto Verification API",
    "version": "2.0.0",
    "description": "idto is an identity and KYC verification platform. This API lets you run PAN, Aadhaar, bank account,\nbusiness/GST, vehicle, mobile, employment, credit-bureau, DigiLocker, driving-licence, face-match,\nliveness, document-OCR, address and eSign verifications through a single set of HTTP endpoints,\neither individually or composed into a workflow on the idto dashboard.\n\n## Response envelope (v2)\n\nEvery product under `/v2/verify/*` shares one response contract. A 2xx HTTP response always carries\n`status: \"success\"` and `billed: true`, whether the result is a full match (`error_code: null`,\n`data` populated) or a definitive no-record outcome (`error_code` set to an `IDTO_2xx` code,\n`data: null`). Callers distinguish a full match from a no-record result by checking `error_code`,\nnever by inspecting `status`: there is no `\"failed\"` status anywhere in the v2 API.\n\nA raised error (any non-2xx response) always carries `status: \"error\"`, `data: null`, `billed: false`,\nand the legacy string flags `chargeble: \"false\"` and `user_consent: \"false\"` alongside `billed: false`.\nRaised errors are never billed, with exactly one exception: `IDTO_204` (no readable Aadhaar QR found)\nis a raised, non-2xx error that is still guaranteed `billed: false` like every other raised error. It\nis called out in the error table below because it is the one product-specific error most integrators\nask about by name, not because its billing behavior differs from any other raised error.\n\n## v1 vs v2\n\n`/v2/verify/*` is the current, vendor-agnostic contract described above, used for every product that\nhas been migrated onto it. `/verify/*` (no `/v2` prefix) remains live for products that have not been\nported yet. Because v1 predates the shared envelope, each v1 product's response shape is its own:\nconsult that product's schema and examples rather than assuming the v2 envelope applies.\n\n## Idempotency\n\nSend an `Idempotency-Key` header (max 255 characters) on any v2 request to make retries safe. If the\nsame key is replayed with an identical request body, the original result is returned without re-running\nthe verification or billing again. If the same key is replayed with a **different** body, the request\nis rejected with `IDTO_001` (400). The header is optional; omitting it runs every request as new.\n\n## Authentication\n\nEvery request to `/verify/*` and `/v2/verify/*` must include two headers: `X-Client-ID` and\n`X-API-Key`. Both are issued per environment (development and production credentials are separate and\nnot interchangeable).\n\n## Error Codes\n\n| Code | HTTP | Message |\n|---|---|---|\n| IDTO_001 | 400 | Invalid input. Please check the request and try again. |\n| IDTO_004 | 409 | Duplicate request. Verification ID already exists. |\n| IDTO_005 | 400 | User consent is required to proceed. |\n| IDTO_006 | 429 | Too many requests. Please wait a moment and retry. |\n| IDTO_007 | 500 | Verification could not be completed due to a service configuration issue. Please contact support at tech@idto.ai. |\n| IDTO_008 | 503 | The verification service is momentarily busy. Please retry shortly. |\n| IDTO_009 | 402 | Insufficient credits or balance. Please recharge and try again. |\n| IDTO_010 | 422 | Idempotency-Key was already used with a different request body. |\n| IDTO_101 | 400 | A required parameter is missing from the request. |\n| IDTO_102 | 400 | A required parameter is missing from the request. |\n| IDTO_103 | 503 | This verification could not be completed. Please retry shortly or contact support at tech@idto.ai. |\n| IDTO_201 | 200 | Bank account is invalid or does not exist. |\n| IDTO_202 | 200 | Record is invalid or does not exist. (per-product messages may override this text) |\n| IDTO_203 | 202 | Verification is still in progress. Retrieve the result using reference_id. |\n| IDTO_204 | 422 | No readable Aadhaar QR was found in the image. (NOT billed, the sole zero-cost raised-error carve-out) |\n| IDTO_205 | 422 | Invalid OTP or session expired. Please request a new OTP. |\n| IDTO_206 | 429 | Maximum OTP attempts exceeded. Please generate a new OTP. |\n| IDTO_207 | 404 | No result found for this reference_id. |\n| IDTO_401 | 400 | The account number provided is invalid. |\n| IDTO_402 | 400 | The IFSC code provided is invalid. |\n| IDTO_403 | 503 | This verification could not be completed. Please retry shortly or contact support at tech@idto.ai. |\n| IDTO_503 | 413 | The image could not be processed. Please try a clearer, smaller image. |\n| IDTO_509 | 500 | Face match could not be completed. Please try again. |\n| IDTO_609 | 500 | Liveness could not be determined. Please try again. |",
    "contact": {
      "name": "idto Support",
      "email": "tech@idto.ai"
    }
  },
  "servers": [
    {
      "url": "https://prod.idto.ai",
      "description": "Production"
    },
    {
      "url": "https://dev.idto.ai",
      "description": "Development / Sandbox: use your dev credentials here for integration testing before going live"
    }
  ],
  "tags": [
    {
      "name": "PAN",
      "description": "PAN validation, detailed lookups, OCR and every PAN-linked crosswalk (UAN, GST, CIN, DIN, Udyam)."
    },
    {
      "name": "Aadhaar",
      "description": "Aadhaar OKYC (OTP-based) and Aadhaar secure-QR read and verification."
    },
    {
      "name": "Bank Account",
      "description": "Bank account penny-drop verification, IFSC lookups, and bank-statement PDF processing."
    },
    {
      "name": "Business & GST",
      "description": "GSTIN, CIN/MCA, Udyam, FSSAI and shop & establishment registration checks."
    },
    {
      "name": "Vehicle & RC",
      "description": "Vehicle registration certificate, challan and FASTag lookups."
    },
    {
      "name": "Mobile & UPI",
      "description": "Mobile-number OTP, subscriber profile, and UPI VPA verification and crosswalks."
    },
    {
      "name": "Employment (EPFO/UAN)",
      "description": "EPFO employment history and UAN-linked lookups, including the async passbook flows."
    },
    {
      "name": "Credit Bureau",
      "description": "Credit reports and scores from supported bureaus, including OTP-gated pulls."
    },
    {
      "name": "DigiLocker",
      "description": "DigiLocker account linking and document fetches (Aadhaar, PAN, DL, marksheets, and more)."
    },
    {
      "name": "Driving Licence",
      "description": "Driving licence verification and OCR."
    },
    {
      "name": "Face & Liveness",
      "description": "Face-match comparison and liveness/anti-spoofing checks."
    },
    {
      "name": "Document OCR",
      "description": "OCR extraction for PAN, driving licence and Aadhaar card images."
    },
    {
      "name": "Address & Invoice",
      "description": "Address verification via OCR on invoices and utility bills."
    },
    {
      "name": "Voter & Passport",
      "description": "Voter ID and passport verification."
    },
    {
      "name": "eSign",
      "description": "Electronic signature docket creation and signed-document retrieval."
    },
    {
      "name": "Verification Links",
      "description": "Hosted, no-code verification links (added by a later documentation pass)."
    },
    {
      "name": "Webhooks",
      "description": "Webhook configuration for asynchronous result delivery.\n\n## What gets delivered\n\nTwo kinds of event are delivered by webhook: a verification-link session completing (see the\nVerification Links tag), and an eSign docket finishing signing (see the eSign tag). Both use the\nsame delivery, signing and retry mechanism described below, but the two payload shapes are\ndifferent and are not wrapped in any shared envelope.\n\n## Signing scheme\n\nThe request body sent to your `webhook_url` is compact, key-sorted JSON, produced the same way as\nPython's `json.dumps(payload, separators=(\",\", \":\"), sort_keys=True)`, and sent as raw UTF-8 bytes.\nA Unix timestamp (whole seconds, encoded as a string) is generated at send time.\n\nThe string that gets signed is built by concatenating, as bytes: the timestamp string, a literal\n`.`, then the raw request body bytes. In Python terms this is `f\"{timestamp}.\".encode() + raw_body_bytes`,\na bytes concatenation, not a string concatenation of the decoded body. The signature is\n`HMAC-SHA256(secret, signing_string)`, hex-encoded.\n\nEvery delivery carries three headers:\n\n- `X-idto-Event-Id`: a unique id for this specific delivery, used to de-duplicate retried or\n  re-sent events on your side.\n- `X-idto-Timestamp`: the same timestamp string used when building the signature.\n- `X-idto-Signature`: the signature in the form `sha256=<hex signature>`.\n\nTo verify a delivery, recompute the HMAC over `timestamp + \".\" + raw_body_bytes` using your stored\nsecret, and compare the result to `X-idto-Signature` with a constant-time comparison, never a plain\n`==` on the strings. During a secret rotation, deliveries in flight may be signed with either the\nprevious secret or the new one for a short grace window, so verify against both secrets if you have\njust rotated.\n\n## Event payloads\n\nThere is no shared `event` wrapper key across both event types, so distinguish them by shape: the\neSign event carries an explicit `event` field, the session-completion event does not.\n\nSession completion (implicit, no `event` field):\n\n```json\n{\n  \"session_id\": \"8f14e45f-ceea-467e-bd93-4a2c11e0a1b2\",\n  \"session_token\": \"sess_3c9a1e2b7d4f5061\",\n  \"status\": \"completed\",\n  \"outcome\": \"approved\",\n  \"partial\": false,\n  \"completed_steps\": [\"mobile_verification\", \"pan_validation\", \"face_match\"],\n  \"skipped_steps\": [],\n  \"fallback_steps\": [],\n  \"branch_excluded_steps\": [],\n  \"consents\": [\n    {\"type\": \"data_processing\", \"version\": \"1.0\", \"timestamp\": \"2026-09-14T10:15:30Z\"}\n  ],\n  \"event_id\": \"evt_5b6c7d8e9f0a1b2c\",\n  \"report\": {\n    \"url\": \"https://reports.idto.ai/r/8f14e45f-ceea-467e-bd93-4a2c11e0a1b2?sig=...\",\n    \"expires_at\": \"2026-09-14T11:15:30Z\",\n    \"content_type\": \"application/pdf\",\n    \"filename\": \"report.pdf\"\n  }\n}\n```\n\nThe `report` key is only present when a PDF report is attached to the session and the merchant has\nreport attachment enabled. Its `url` is a fresh, short-lived presigned link generated for that one\ndelivery, never a permanent link.\n\neSign completion:\n\n```json\n{\n  \"event\": \"esign.completed\",\n  \"event_id\": \"evt_esign_2a3b4c5d6e7f8091\",\n  \"tranx_id\": \"b6e1f2a0-1234-4abc-9def-0123456789ab\",\n  \"docket_id\": \"b6e1f2a0-1234-4abc-9def-0123456789ab\",\n  \"document_id\": \"doc_1a2b3c4d5e6f7081\",\n  \"signing_status\": \"signed\",\n  \"signed_at\": \"2026-09-14T10:15:30Z\"\n}\n```\n\nNo document bytes are included in this event. Retrieve the signed PDF separately through the eSign\ndocument-download endpoint documented elsewhere in this spec.\n\n## Delivery and retries\n\nA delivery is attempted up to 5 times with exponential backoff between attempts, starting at\nroughly 10 seconds and doubling on each retry, capped at 1 hour between tries. If every attempt is\nexhausted, the delivery is marked permanently failed and is not retried again. Events created before a signing secret exists are still attempted: they run through this same 5-attempt retry cycle and are permanently dead-lettered within a few minutes, the same as any other delivery failure. There is no separate holding queue that waits for you to configure a secret. Generate one with `POST /merchant/webhook-config/rotate-secret` before, or immediately after, setting a webhook URL, or the earliest events from that window are lost for good."
    },
    {
      "name": "Authentication",
      "description": "SDK and API authentication (added by a later documentation pass)."
    }
  ],
  "paths": {
    "/v2/verify/aadhaar_ocr": {
      "post": {
        "tags": [
          "Document OCR"
        ],
        "summary": "Extract Aadhaar card fields from an image",
        "description": "Runs OCR on an uploaded Aadhaar card image (front side) and extracts the Aadhaar number, name and address fields. Unmasked by design; mask the returned `aadhaar_number` before displaying or storing it downstream.\n\n## Errors\n\n| Code | HTTP | Message | Billed |\n| --- | --- | --- | --- |\n| `IDTO_503` | 400 | Image could not be read. Please try a clearer image. | No |\n| `IDTO_001` | 400 | Invalid input. Please check the request and try again. | No |\n| `IDTO_005` | 400 | User consent is required to proceed. | No |\n| `IDTO_006` | 429 | Too many requests. Please wait a moment and retry. | No |\n| `IDTO_007` | 500 | Verification could not be completed due to a service configuration issue. | No |\n| `IDTO_008` | 503 | The verification service is momentarily busy. Please retry shortly. | No |\n| `IDTO_009` | 402 | Insufficient credits or balance. Please recharge and try again. | No |\n| `IDTO_010` | 422 | Idempotency-Key was already used with a different request body. | No |\n| `IDTO_101` | 400 | A required parameter is missing from the request. | No |\n| `IDTO_102` | 400 | A required parameter is missing from the request. | No |\n| `IDTO_103` | 503 | This verification could not be completed. Please retry shortly. | No |\n\nSee [v2 Error Codes](/reference/v2-error-codes).",
        "security": [
          {
            "ClientIdAuth": [],
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "422": {
            "$ref": "#/components/responses/ValidationOrIdempotencyError422"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited429"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits402"
          },
          "500": {
            "$ref": "#/components/responses/ServiceConfigError500"
          },
          "503": {
            "$ref": "#/components/responses/ServiceBusy503"
          },
          "200": {
            "description": "The image was OCR'd.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "error_code": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "null on a full match, an IDTO_2xx code on a definitive no-record result. Both are billed."
                    },
                    "data": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/AadhaarOcrData"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "billed": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "tranx_id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "timestamp": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "error_code",
                    "data",
                    "billed"
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Read",
                    "value": {
                      "status": "success",
                      "message": "Aadhaar details extracted successfully.",
                      "error_code": null,
                      "data": {
                        "aadhaar_number": "999999990019",
                        "name": "RAHUL SHARMA",
                        "care_of": "S/O SURESH SHARMA",
                        "address": "12 SAMPLE STREET, SAMPLE AREA, BENGALURU, KARNATAKA-560001",
                        "dob": "1990-01-01",
                        "gender": "M",
                        "pincode": "560001"
                      },
                      "billed": true,
                      "tranx_id": "8f14e45f-ceea-467e-bd93-4a2c11e0a1b2",
                      "timestamp": "2026-09-14T10:15:30Z"
                    }
                  },
                  "no_record": {
                    "summary": "Unreadable",
                    "value": {
                      "status": "success",
                      "message": "No Aadhaar could be read from the document. Please upload a clear Aadhaar image.",
                      "error_code": "IDTO_202",
                      "data": null,
                      "billed": true,
                      "tranx_id": "8f14e45f-ceea-467e-bd93-4a2c11e0a1b2",
                      "timestamp": "2026-09-14T10:15:30Z"
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "The uploaded image exceeds the processing size limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Image too large",
                    "value": {
                      "status": "error",
                      "message": "The image could not be processed. Please try a clearer, smaller image.",
                      "error_code": "IDTO_503",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "workflow_session_token": {
                    "type": "string"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Make retries of this exact request safe. If the same key is replayed with an identical request body, the original result is returned without re-running the verification or billing again. If the same key is replayed with a different body, the request is rejected with `IDTO_010` (422). Omitting this header runs every request as new.",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ]
      }
    },
    "/v2/verify/aadhaar_qr": {
      "post": {
        "tags": [
          "Aadhaar"
        ],
        "summary": "Read and verify an Aadhaar secure QR",
        "description": "Decodes an Aadhaar secure QR (from an uploaded image or pre-decoded `qr_data`) and, where possible, verifies its UIDAI digital signature. Accepts either multipart/form-data (image upload) or a JSON body (`qr_data`) as shown by the two request examples below.\n\n## Errors\n\n| Code | HTTP | Message | Billed |\n| --- | --- | --- | --- |\n| `IDTO_204` | 400 | No QR could be detected in the image. | No |\n| `IDTO_503` | 400 | Image could not be read. Please try a clearer image. | No |\n| `IDTO_001` | 400 | Invalid input. Please check the request and try again. | No |\n| `IDTO_005` | 400 | User consent is required to proceed. | No |\n| `IDTO_006` | 429 | Too many requests. Please wait a moment and retry. | No |\n| `IDTO_007` | 500 | Verification could not be completed due to a service configuration issue. | No |\n| `IDTO_008` | 503 | The verification service is momentarily busy. Please retry shortly. | No |\n| `IDTO_009` | 402 | Insufficient credits or balance. Please recharge and try again. | No |\n| `IDTO_010` | 422 | Idempotency-Key was already used with a different request body. | No |\n| `IDTO_101` | 400 | A required parameter is missing from the request. | No |\n| `IDTO_102` | 400 | A required parameter is missing from the request. | No |\n| `IDTO_103` | 503 | This verification could not be completed. Please retry shortly. | No |\n\nSee [v2 Error Codes](/reference/v2-error-codes).",
        "security": [
          {
            "ClientIdAuth": [],
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "422": {
            "description": "No readable Aadhaar QR was found in the image. This is the sole zero-cost carve-out in the v2 API. Every raised error is unbilled, but IDTO_204 is the one integrators most often ask about by name when asking which error is free.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2ErrorEnvelope"
                },
                "examples": {
                  "no_qr": {
                    "summary": "No QR found",
                    "value": {
                      "status": "error",
                      "message": "No readable Aadhaar QR was found in the image.",
                      "error_code": "IDTO_204",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  },
                  "idempotency_conflict": {
                    "summary": "Idempotency-Key reused with a different body",
                    "value": {
                      "status": "error",
                      "message": "Idempotency-Key was already used with a different request body.",
                      "error_code": "IDTO_010",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited429"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits402"
          },
          "500": {
            "$ref": "#/components/responses/ServiceConfigError500"
          },
          "503": {
            "$ref": "#/components/responses/ServiceBusy503"
          },
          "200": {
            "description": "The QR was read. All four outcomes below are HTTP 200, status:\"success\", and billed:true, including an unsigned or signature-mismatched card: only a QR that cannot be read at all (IDTO_204, see 422 below) fails to bill.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "error_code": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "null on a full match, an IDTO_2xx code on a definitive no-record result. Both are billed."
                    },
                    "data": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/AadhaarQrData"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "billed": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "tranx_id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "timestamp": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "error_code",
                    "data",
                    "billed"
                  ]
                },
                "examples": {
                  "unsigned": {
                    "summary": "Unsigned QR",
                    "value": {
                      "status": "success",
                      "message": "Aadhaar QR was read. It carries no UIDAI signature to verify.",
                      "error_code": null,
                      "data": {
                        "authentic": null,
                        "is_signed": false,
                        "reference_id": "XXXXXXXXXXXXXXXXXXXX1234",
                        "name": "RAHUL SHARMA",
                        "dob": "1990-01-01",
                        "gender": "M",
                        "address": "12 SAMPLE STREET, SAMPLE AREA, BENGALURU, KARNATAKA-560001",
                        "pincode": "560001",
                        "has_photo": false,
                        "photo": null,
                        "photo_mime": null,
                        "extras": {
                          "signature_verified": false,
                          "format": "old_xml",
                          "care_of": null,
                          "house": "12",
                          "street": "SAMPLE STREET",
                          "landmark": null,
                          "location": "SAMPLE AREA",
                          "vtc": "BENGALURU",
                          "subdistrict": null,
                          "post_office": "SAMPLE AREA S.O",
                          "district": "BENGALURU",
                          "state": "KARNATAKA",
                          "mobile_registered": null,
                          "email_registered": null
                        }
                      },
                      "billed": true,
                      "tranx_id": "8f14e45f-ceea-467e-bd93-4a2c11e0a1b2",
                      "timestamp": "2026-09-14T10:15:30Z"
                    }
                  },
                  "signed_unchecked": {
                    "summary": "Signed but unchecked",
                    "value": {
                      "status": "success",
                      "message": "Aadhaar QR was read, but its UIDAI signature was not checked. Treat this card as unverified.",
                      "error_code": null,
                      "data": {
                        "authentic": null,
                        "is_signed": true,
                        "reference_id": "1234567890123456789012",
                        "name": "RAHUL SHARMA",
                        "dob": "1990-01-01",
                        "gender": "M",
                        "address": "12 SAMPLE STREET, SAMPLE AREA, BENGALURU, KARNATAKA-560001",
                        "pincode": "560001",
                        "has_photo": true,
                        "photo": null,
                        "photo_mime": "image/jpeg",
                        "extras": {
                          "signature_verified": null,
                          "format": "secure_qr",
                          "care_of": "S/O SURESH SHARMA",
                          "house": "12",
                          "street": "SAMPLE STREET",
                          "landmark": null,
                          "location": "SAMPLE AREA",
                          "vtc": "BENGALURU",
                          "subdistrict": null,
                          "post_office": "SAMPLE AREA S.O",
                          "district": "BENGALURU",
                          "state": "KARNATAKA",
                          "mobile_registered": true,
                          "email_registered": false
                        }
                      },
                      "billed": true,
                      "tranx_id": "8f14e45f-ceea-467e-bd93-4a2c11e0a1b2",
                      "timestamp": "2026-09-14T10:15:30Z"
                    }
                  },
                  "verified": {
                    "summary": "Verified",
                    "value": {
                      "status": "success",
                      "message": "Aadhaar QR verified successfully.",
                      "error_code": null,
                      "data": {
                        "authentic": true,
                        "is_signed": true,
                        "reference_id": "1234567890123456789012",
                        "name": "RAHUL SHARMA",
                        "dob": "1990-01-01",
                        "gender": "M",
                        "address": "12 SAMPLE STREET, SAMPLE AREA, BENGALURU, KARNATAKA-560001",
                        "pincode": "560001",
                        "has_photo": true,
                        "photo": null,
                        "photo_mime": "image/jpeg",
                        "extras": {
                          "signature_verified": true,
                          "format": "secure_qr",
                          "care_of": "S/O SURESH SHARMA",
                          "house": "12",
                          "street": "SAMPLE STREET",
                          "landmark": null,
                          "location": "SAMPLE AREA",
                          "vtc": "BENGALURU",
                          "subdistrict": null,
                          "post_office": "SAMPLE AREA S.O",
                          "district": "BENGALURU",
                          "state": "KARNATAKA",
                          "mobile_registered": true,
                          "email_registered": false
                        }
                      },
                      "billed": true,
                      "tranx_id": "8f14e45f-ceea-467e-bd93-4a2c11e0a1b2",
                      "timestamp": "2026-09-14T10:15:30Z"
                    }
                  },
                  "signature_mismatch": {
                    "summary": "Signature mismatch",
                    "value": {
                      "status": "success",
                      "message": "Aadhaar QR was read, but its UIDAI signature did not match. Do not treat this card as verified.",
                      "error_code": null,
                      "data": {
                        "authentic": false,
                        "is_signed": true,
                        "reference_id": "1234567890123456789012",
                        "name": "RAHUL SHARMA",
                        "dob": "1990-01-01",
                        "gender": "M",
                        "address": "12 SAMPLE STREET, SAMPLE AREA, BENGALURU, KARNATAKA-560001",
                        "pincode": "560001",
                        "has_photo": true,
                        "photo": null,
                        "photo_mime": "image/jpeg",
                        "extras": {
                          "signature_verified": false,
                          "format": "secure_qr",
                          "care_of": "S/O SURESH SHARMA",
                          "house": "12",
                          "street": "SAMPLE STREET",
                          "landmark": null,
                          "location": "SAMPLE AREA",
                          "vtc": "BENGALURU",
                          "subdistrict": null,
                          "post_office": "SAMPLE AREA S.O",
                          "district": "BENGALURU",
                          "state": "KARNATAKA",
                          "mobile_registered": true,
                          "email_registered": false
                        }
                      },
                      "billed": true,
                      "tranx_id": "8f14e45f-ceea-467e-bd93-4a2c11e0a1b2",
                      "timestamp": "2026-09-14T10:15:30Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Neither or both of file/qr_data were given, or user_consent is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2ErrorEnvelope"
                },
                "examples": {
                  "both_or_neither": {
                    "summary": "Ambiguous input",
                    "value": {
                      "status": "error",
                      "message": "Invalid input: send exactly one of an Aadhaar QR image or qr_data. Please check and retry.",
                      "error_code": "IDTO_001",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  },
                  "missing_consent": {
                    "summary": "Missing consent",
                    "value": {
                      "status": "error",
                      "message": "User consent is required to proceed.",
                      "error_code": "IDTO_005",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "The uploaded image exceeds 11MB.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Image too large",
                    "value": {
                      "status": "error",
                      "message": "The image could not be processed. Please try a clearer, smaller image.",
                      "error_code": "IDTO_503",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "An image of the Aadhaar QR code. Required if not sending `qr_data`."
                  },
                  "user_consent": {
                    "type": "string",
                    "enum": [
                      "true",
                      "1",
                      "yes"
                    ]
                  },
                  "include_photo": {
                    "type": "string",
                    "enum": [
                      "true",
                      "1",
                      "yes"
                    ]
                  }
                },
                "required": [
                  "user_consent"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "qr_data": {
                    "type": "string",
                    "description": "Raw payload decoded from the Aadhaar secure QR. Required if not sending `file`."
                  },
                  "user_consent": {
                    "type": "boolean"
                  },
                  "include_photo": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "user_consent"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Make retries of this exact request safe. If the same key is replayed with an identical request body, the original result is returned without re-running the verification or billing again. If the same key is replayed with a different body, the request is rejected with `IDTO_010` (422). Omitting this header runs every request as new.",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ]
      }
    },
    "/v2/verify/bank_verification": {
      "post": {
        "tags": [
          "Bank Account"
        ],
        "summary": "Verify a bank account (penny drop)",
        "description": "Confirms a bank account exists and returns the registered account-holder name. A definitively invalid account is a billed IDTO_202 result, not a raised error, even though its message text reads like the generic \"bank account invalid\" wording used elsewhere in the error table.\n\n## Errors\n\n| Code | HTTP | Message | Billed |\n| --- | --- | --- | --- |\n| `IDTO_201` | 200 | Bank account is invalid. | Yes |\n| `IDTO_401` | 400 | Invalid IFSC code. | No |\n| `IDTO_402` | 400 | Invalid account number. | No |\n| `IDTO_403` | 400 | Invalid reference_id. | No |\n| `IDTO_001` | 400 | Invalid input. Please check the request and try again. | No |\n| `IDTO_005` | 400 | User consent is required to proceed. | No |\n| `IDTO_006` | 429 | Too many requests. Please wait a moment and retry. | No |\n| `IDTO_007` | 500 | Verification could not be completed due to a service configuration issue. | No |\n| `IDTO_008` | 503 | The verification service is momentarily busy. Please retry shortly. | No |\n| `IDTO_009` | 402 | Insufficient credits or balance. Please recharge and try again. | No |\n| `IDTO_010` | 422 | Idempotency-Key was already used with a different request body. | No |\n| `IDTO_101` | 400 | A required parameter is missing from the request. | No |\n| `IDTO_102` | 400 | A required parameter is missing from the request. | No |\n| `IDTO_103` | 503 | This verification could not be completed. Please retry shortly. | No |\n\nSee [v2 Error Codes](/reference/v2-error-codes).",
        "security": [
          {
            "ClientIdAuth": [],
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "422": {
            "$ref": "#/components/responses/ValidationOrIdempotencyError422"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited429"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits402"
          },
          "500": {
            "$ref": "#/components/responses/ServiceConfigError500"
          },
          "503": {
            "$ref": "#/components/responses/ServiceBusy503"
          },
          "200": {
            "description": "The penny-drop ran to completion.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "error_code": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "null on a full match, an IDTO_2xx code on a definitive no-record result. Both are billed."
                    },
                    "data": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/BankVerificationData"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "billed": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "tranx_id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "timestamp": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "error_code",
                    "data",
                    "billed"
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Valid account",
                    "value": {
                      "status": "success",
                      "message": "Bank account verified successfully.",
                      "error_code": null,
                      "data": {
                        "account_status": "VALID",
                        "account_holder_name": "RAHUL SHARMA",
                        "account_number": "XXXXXX2333",
                        "account_ifsc": "ABCD0123456",
                        "utr": "N123456789012",
                        "failure_reason": null,
                        "extras": {}
                      },
                      "billed": true,
                      "tranx_id": "8f14e45f-ceea-467e-bd93-4a2c11e0a1b2",
                      "timestamp": "2026-09-14T10:15:30Z"
                    }
                  },
                  "no_record": {
                    "summary": "Invalid account",
                    "value": {
                      "status": "success",
                      "message": "Bank account is invalid or does not exist.",
                      "error_code": "IDTO_202",
                      "data": null,
                      "billed": true,
                      "tranx_id": "8f14e45f-ceea-467e-bd93-4a2c11e0a1b2",
                      "timestamp": "2026-09-14T10:15:30Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The account number, IFSC, or reference_id is missing or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2ErrorEnvelope"
                },
                "examples": {
                  "missing_fields": {
                    "summary": "Missing fields",
                    "value": {
                      "status": "error",
                      "message": "Account number and IFSC code are required fields.",
                      "error_code": "IDTO_001",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  },
                  "invalid_account": {
                    "summary": "Invalid account number",
                    "value": {
                      "status": "error",
                      "message": "Invalid account number provided.",
                      "error_code": "IDTO_001",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  },
                  "invalid_ifsc": {
                    "summary": "Invalid IFSC",
                    "value": {
                      "status": "error",
                      "message": "Invalid IFSC code.",
                      "error_code": "IDTO_001",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  },
                  "invalid_reference_id": {
                    "summary": "Invalid reference_id",
                    "value": {
                      "status": "error",
                      "message": "Invalid reference_id.",
                      "error_code": "IDTO_001",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account_number": {
                    "type": "string",
                    "example": "000111222333"
                  },
                  "ifsc": {
                    "type": "string",
                    "description": "Also accepted as `ifsc_code`.",
                    "example": "ABCD0123456"
                  },
                  "name": {
                    "type": "string",
                    "example": "RAHUL SHARMA"
                  },
                  "reference_id": {
                    "type": "string"
                  },
                  "user_id": {
                    "type": "string"
                  },
                  "workflow_session_token": {
                    "type": "string"
                  }
                },
                "required": [
                  "account_number",
                  "ifsc"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Make retries of this exact request safe. If the same key is replayed with an identical request body, the original result is returned without re-running the verification or billing again. If the same key is replayed with a different body, the request is rejected with `IDTO_010` (422). Omitting this header runs every request as new.",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ]
      }
    },
    "/v2/verify/cin_mca_verification": {
      "post": {
        "tags": [
          "Business & GST"
        ],
        "summary": "Verify a company CIN (MCA)",
        "description": "Looks up a company's Corporate Identification Number against MCA records and returns incorporation, status and director details.\n\n## Errors\n\n| Code | HTTP | Message | Billed |\n| --- | --- | --- | --- |\n| `IDTO_202` | 200 | Record is invalid or does not exist. | Yes |\n| `IDTO_001` | 400 | Invalid input. Please check the request and try again. | No |\n| `IDTO_005` | 400 | User consent is required to proceed. | No |\n| `IDTO_006` | 429 | Too many requests. Please wait a moment and retry. | No |\n| `IDTO_007` | 500 | Verification could not be completed due to a service configuration issue. | No |\n| `IDTO_008` | 503 | The verification service is momentarily busy. Please retry shortly. | No |\n| `IDTO_009` | 402 | Insufficient credits or balance. Please recharge and try again. | No |\n| `IDTO_010` | 422 | Idempotency-Key was already used with a different request body. | No |\n| `IDTO_101` | 400 | A required parameter is missing from the request. | No |\n| `IDTO_102` | 400 | A required parameter is missing from the request. | No |\n| `IDTO_103` | 503 | This verification could not be completed. Please retry shortly. | No |\n\nSee [v2 Error Codes](/reference/v2-error-codes).",
        "security": [
          {
            "ClientIdAuth": [],
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "422": {
            "$ref": "#/components/responses/ValidationOrIdempotencyError422"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited429"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits402"
          },
          "500": {
            "$ref": "#/components/responses/ServiceConfigError500"
          },
          "503": {
            "$ref": "#/components/responses/ServiceBusy503"
          },
          "200": {
            "description": "The CIN lookup ran to completion.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "error_code": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "null on a full match, an IDTO_2xx code on a definitive no-record result. Both are billed."
                    },
                    "data": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/CinMcaData"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "billed": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "tranx_id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "timestamp": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "error_code",
                    "data",
                    "billed"
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Active company",
                    "value": {
                      "status": "success",
                      "message": "CIN MCA verification successful",
                      "error_code": null,
                      "data": {
                        "cin": "U74999KA2015PTC080000",
                        "company_name": "SAMPLE PRIVATE LIMITED",
                        "company_category": "Company limited by Shares",
                        "class_of_company": "Private",
                        "date_of_incorporation": "2015-04-01",
                        "registered_address": "12 SAMPLE STREET, SAMPLE AREA, BENGALURU, KARNATAKA-560001",
                        "company_status": "Active",
                        "directors_brief": [
                          {
                            "name": "RAHUL SHARMA",
                            "din": "01234567"
                          }
                        ],
                        "roc_code": "RoC-BANGALORE",
                        "registration_number": "080000",
                        "listed_status": "Unlisted",
                        "extras": {}
                      },
                      "billed": true,
                      "tranx_id": "8f14e45f-ceea-467e-bd93-4a2c11e0a1b2",
                      "timestamp": "2026-09-14T10:15:30Z"
                    }
                  },
                  "no_record": {
                    "summary": "Not found",
                    "value": {
                      "status": "success",
                      "message": "CIN is invalid or not found in MCA records.",
                      "error_code": "IDTO_202",
                      "data": null,
                      "billed": true,
                      "tranx_id": "8f14e45f-ceea-467e-bd93-4a2c11e0a1b2",
                      "timestamp": "2026-09-14T10:15:30Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "id_number is missing or too long to be a valid CIN.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2ErrorEnvelope"
                },
                "examples": {
                  "missing": {
                    "summary": "Missing CIN",
                    "value": {
                      "status": "error",
                      "message": "Invalid input: CIN (id_number) is required. Please check and retry.",
                      "error_code": "IDTO_001",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  },
                  "too_long": {
                    "summary": "Bad CIN format",
                    "value": {
                      "status": "error",
                      "message": "Invalid CIN format. Please check and retry.",
                      "error_code": "IDTO_001",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id_number": {
                    "type": "string",
                    "maxLength": 25,
                    "description": "The CIN.",
                    "example": "U74999KA2015PTC080000"
                  },
                  "user_id": {
                    "type": "string"
                  },
                  "workflow_session_token": {
                    "type": "string"
                  }
                },
                "required": [
                  "id_number"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Make retries of this exact request safe. If the same key is replayed with an identical request body, the original result is returned without re-running the verification or billing again. If the same key is replayed with a different body, the request is rejected with `IDTO_010` (422). Omitting this header runs every request as new.",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ]
      }
    },
    "/v2/verify/digilocker": {
      "post": {
        "tags": [
          "DigiLocker"
        ],
        "summary": "Connect a DigiLocker account",
        "description": "Exchanges a DigiLocker OAuth authorization code and PKCE verifier for the user's linked DigiLocker profile. Document-specific fetches (Aadhaar, PAN, DL, marksheets, etc.) are a separate v1 surface under `/verify/digilocker/*` that reuses the same authorization code.\n\n## Errors\n\n| Code | HTTP | Message | Billed |\n| --- | --- | --- | --- |\n| `IDTO_001` | 400 | Invalid input. Please check the request and try again. | No |\n| `IDTO_005` | 400 | User consent is required to proceed. | No |\n| `IDTO_006` | 429 | Too many requests. Please wait a moment and retry. | No |\n| `IDTO_007` | 500 | Verification could not be completed due to a service configuration issue. | No |\n| `IDTO_008` | 503 | The verification service is momentarily busy. Please retry shortly. | No |\n| `IDTO_009` | 402 | Insufficient credits or balance. Please recharge and try again. | No |\n| `IDTO_010` | 422 | Idempotency-Key was already used with a different request body. | No |\n| `IDTO_101` | 400 | A required parameter is missing from the request. | No |\n| `IDTO_102` | 400 | A required parameter is missing from the request. | No |\n| `IDTO_103` | 503 | This verification could not be completed. Please retry shortly. | No |\n\nSee [v2 Error Codes](/reference/v2-error-codes).",
        "security": [
          {
            "ClientIdAuth": [],
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "422": {
            "$ref": "#/components/responses/ValidationOrIdempotencyError422"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited429"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits402"
          },
          "500": {
            "$ref": "#/components/responses/ServiceConfigError500"
          },
          "503": {
            "$ref": "#/components/responses/ServiceBusy503"
          },
          "200": {
            "description": "The authorization code was exchanged and the DigiLocker profile fetched. This product has no no-record outcome: an invalid code is always a raised 400.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "error_code": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "null on a full match, an IDTO_2xx code on a definitive no-record result. Both are billed."
                    },
                    "data": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/DigilockerData"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "billed": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "tranx_id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "timestamp": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "error_code",
                    "data",
                    "billed"
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Linked",
                    "value": {
                      "status": "success",
                      "message": "DigiLocker identity verification successful.",
                      "error_code": null,
                      "data": {
                        "digilocker_id": "1234567890123456",
                        "name": "RAHUL SHARMA",
                        "dob": "1990-01-01",
                        "gender": "M",
                        "extras": {
                          "mobile": "9999999999",
                          "email": "rahul.sharma@example.com",
                          "eaadhaar_linked": true
                        }
                      },
                      "billed": true,
                      "tranx_id": "8f14e45f-ceea-467e-bd93-4a2c11e0a1b2",
                      "timestamp": "2026-09-14T10:15:30Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "code/code_verifier are missing, or the authorization code was rejected.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2ErrorEnvelope"
                },
                "examples": {
                  "missing_fields": {
                    "summary": "Missing fields",
                    "value": {
                      "status": "error",
                      "message": "Invalid input: code and code_verifier are required. Please check and retry.",
                      "error_code": "IDTO_001",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  },
                  "invalid_code": {
                    "summary": "Invalid or expired code",
                    "value": {
                      "status": "error",
                      "message": "The authorization code is invalid, expired, or already used. Please obtain a new authorization code and try again.",
                      "error_code": "IDTO_001",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "maxLength": 512,
                    "description": "The OAuth authorization code returned by DigiLocker's redirect."
                  },
                  "code_verifier": {
                    "type": "string",
                    "maxLength": 512,
                    "description": "The PKCE code verifier used when the authorization URL was built."
                  },
                  "user_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "code",
                  "code_verifier"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Make retries of this exact request safe. If the same key is replayed with an identical request body, the original result is returned without re-running the verification or billing again. If the same key is replayed with a different body, the request is rejected with `IDTO_010` (422). Omitting this header runs every request as new.",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ]
      }
    },
    "/v2/verify/dl_ocr": {
      "post": {
        "tags": [
          "Document OCR"
        ],
        "summary": "Extract driving licence fields from an image",
        "description": "Runs OCR on an uploaded driving licence image and extracts the DL number, holder details, dates and blood group.\n\n## Errors\n\n| Code | HTTP | Message | Billed |\n| --- | --- | --- | --- |\n| `IDTO_503` | 400 | Image could not be read. Please try a clearer image. | No |\n| `IDTO_001` | 400 | Invalid input. Please check the request and try again. | No |\n| `IDTO_005` | 400 | User consent is required to proceed. | No |\n| `IDTO_006` | 429 | Too many requests. Please wait a moment and retry. | No |\n| `IDTO_007` | 500 | Verification could not be completed due to a service configuration issue. | No |\n| `IDTO_008` | 503 | The verification service is momentarily busy. Please retry shortly. | No |\n| `IDTO_009` | 402 | Insufficient credits or balance. Please recharge and try again. | No |\n| `IDTO_010` | 422 | Idempotency-Key was already used with a different request body. | No |\n| `IDTO_101` | 400 | A required parameter is missing from the request. | No |\n| `IDTO_102` | 400 | A required parameter is missing from the request. | No |\n| `IDTO_103` | 503 | This verification could not be completed. Please retry shortly. | No |\n\nSee [v2 Error Codes](/reference/v2-error-codes).",
        "security": [
          {
            "ClientIdAuth": [],
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "422": {
            "$ref": "#/components/responses/ValidationOrIdempotencyError422"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited429"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits402"
          },
          "500": {
            "$ref": "#/components/responses/ServiceConfigError500"
          },
          "503": {
            "$ref": "#/components/responses/ServiceBusy503"
          },
          "200": {
            "description": "The image was OCR'd.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "error_code": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "null on a full match, an IDTO_2xx code on a definitive no-record result. Both are billed."
                    },
                    "data": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/DlOcrData"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "billed": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "tranx_id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "timestamp": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "error_code",
                    "data",
                    "billed"
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Read",
                    "value": {
                      "status": "success",
                      "message": "Driving licence details extracted successfully.",
                      "error_code": null,
                      "data": {
                        "dl_number": "KA0120210012345",
                        "name": "RAHUL SHARMA",
                        "relative_name": "SURESH SHARMA",
                        "address": "12 SAMPLE STREET, SAMPLE AREA, BENGALURU, KARNATAKA-560001",
                        "dob": "1990-01-01",
                        "doi": "2010-05-01",
                        "doe": "2030-05-01",
                        "blood_group": "O+",
                        "pincode": "560001"
                      },
                      "billed": true,
                      "tranx_id": "8f14e45f-ceea-467e-bd93-4a2c11e0a1b2",
                      "timestamp": "2026-09-14T10:15:30Z"
                    }
                  },
                  "no_record": {
                    "summary": "Unreadable",
                    "value": {
                      "status": "success",
                      "message": "No driving licence could be read from the document. Please upload a clear DL image.",
                      "error_code": "IDTO_202",
                      "data": null,
                      "billed": true,
                      "tranx_id": "8f14e45f-ceea-467e-bd93-4a2c11e0a1b2",
                      "timestamp": "2026-09-14T10:15:30Z"
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "The uploaded image exceeds the processing size limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Image too large",
                    "value": {
                      "status": "error",
                      "message": "The image could not be processed. Please try a clearer, smaller image.",
                      "error_code": "IDTO_503",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "workflow_session_token": {
                    "type": "string"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Make retries of this exact request safe. If the same key is replayed with an identical request body, the original result is returned without re-running the verification or billing again. If the same key is replayed with a different body, the request is rejected with `IDTO_010` (422). Omitting this header runs every request as new.",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ]
      }
    },
    "/v2/verify/driving_licence": {
      "post": {
        "tags": [
          "Driving Licence"
        ],
        "summary": "Verify a driving licence",
        "description": "Looks up a driving licence by number and date of birth and returns holder, validity and vehicle-class details.\n\n## Errors\n\n| Code | HTTP | Message | Billed |\n| --- | --- | --- | --- |\n| `IDTO_202` | 200 | Record is invalid or does not exist. | Yes |\n| `IDTO_001` | 400 | Invalid input. Please check the request and try again. | No |\n| `IDTO_005` | 400 | User consent is required to proceed. | No |\n| `IDTO_006` | 429 | Too many requests. Please wait a moment and retry. | No |\n| `IDTO_007` | 500 | Verification could not be completed due to a service configuration issue. | No |\n| `IDTO_008` | 503 | The verification service is momentarily busy. Please retry shortly. | No |\n| `IDTO_009` | 402 | Insufficient credits or balance. Please recharge and try again. | No |\n| `IDTO_010` | 422 | Idempotency-Key was already used with a different request body. | No |\n| `IDTO_101` | 400 | A required parameter is missing from the request. | No |\n| `IDTO_102` | 400 | A required parameter is missing from the request. | No |\n| `IDTO_103` | 503 | This verification could not be completed. Please retry shortly. | No |\n\nSee [v2 Error Codes](/reference/v2-error-codes).",
        "security": [
          {
            "ClientIdAuth": [],
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "422": {
            "$ref": "#/components/responses/ValidationOrIdempotencyError422"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited429"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits402"
          },
          "500": {
            "$ref": "#/components/responses/ServiceConfigError500"
          },
          "503": {
            "$ref": "#/components/responses/ServiceBusy503"
          },
          "200": {
            "description": "The DL lookup ran to completion.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "error_code": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "null on a full match, an IDTO_2xx code on a definitive no-record result. Both are billed."
                    },
                    "data": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/DrivingLicenceData"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "billed": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "tranx_id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "timestamp": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "error_code",
                    "data",
                    "billed"
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Active DL",
                    "value": {
                      "status": "success",
                      "message": "Driving licence verified successfully.",
                      "error_code": null,
                      "data": {
                        "dl_number": "KA0120210012345",
                        "name": "RAHUL SHARMA",
                        "dob": "1990-01-01",
                        "relative_name": "SURESH SHARMA",
                        "address": "12 SAMPLE STREET, SAMPLE AREA, BENGALURU, KARNATAKA-560001",
                        "pincode": "560001",
                        "status": "Active",
                        "issuing_authority": {
                          "rto": "RTO Bangalore Central",
                          "state": "Karnataka"
                        },
                        "validity": {
                          "non_transport": {
                            "issue_date": "2010-05-01",
                            "expiry_date": "2030-05-01"
                          },
                          "transport": {
                            "issue_date": null,
                            "expiry_date": null
                          }
                        },
                        "vehicle_classes": [
                          {
                            "category": "LMV",
                            "authority": "RTO Bangalore Central"
                          }
                        ],
                        "blood_group": "O+",
                        "photo": null
                      },
                      "billed": true,
                      "tranx_id": "8f14e45f-ceea-467e-bd93-4a2c11e0a1b2",
                      "timestamp": "2026-09-14T10:15:30Z"
                    }
                  },
                  "no_record": {
                    "summary": "Not found",
                    "value": {
                      "status": "success",
                      "message": "Record is invalid or does not exist.",
                      "error_code": "IDTO_202",
                      "data": null,
                      "billed": true,
                      "tranx_id": "8f14e45f-ceea-467e-bd93-4a2c11e0a1b2",
                      "timestamp": "2026-09-14T10:15:30Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "licence_number or dob is missing or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2ErrorEnvelope"
                },
                "examples": {
                  "bad_licence": {
                    "summary": "Bad licence number",
                    "value": {
                      "status": "error",
                      "message": "Invalid input: Driving licence number is required. Please check and retry.",
                      "error_code": "IDTO_001",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  },
                  "bad_dob": {
                    "summary": "Bad DOB",
                    "value": {
                      "status": "error",
                      "message": "Invalid input: A valid date of birth is required. Please check and retry.",
                      "error_code": "IDTO_001",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "licence_number": {
                    "type": "string",
                    "example": "KA0120210012345"
                  },
                  "dob": {
                    "type": "string",
                    "example": "1990-01-01"
                  },
                  "user_id": {
                    "type": "string"
                  },
                  "workflow_session_token": {
                    "type": "string"
                  }
                },
                "required": [
                  "licence_number",
                  "dob"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Make retries of this exact request safe. If the same key is replayed with an identical request body, the original result is returned without re-running the verification or billing again. If the same key is replayed with a different body, the request is rejected with `IDTO_010` (422). Omitting this header runs every request as new.",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ]
      }
    },
    "/v2/verify/employment_history": {
      "post": {
        "tags": [
          "Employment (EPFO/UAN)"
        ],
        "summary": "Fetch EPFO employment history",
        "description": "Returns the EPFO member profile and the establishment-by-establishment employment history for a UAN, newest first. A v1 product of the same name exists at `/verify/employment_history` with an async job-handoff response pattern; this v2 product always resolves synchronously.\n\n## Errors\n\n| Code | HTTP | Message | Billed |\n| --- | --- | --- | --- |\n| `IDTO_202` | 200 | Record is invalid or does not exist. | Yes |\n| `IDTO_001` | 400 | Invalid input. Please check the request and try again. | No |\n| `IDTO_005` | 400 | User consent is required to proceed. | No |\n| `IDTO_006` | 429 | Too many requests. Please wait a moment and retry. | No |\n| `IDTO_007` | 500 | Verification could not be completed due to a service configuration issue. | No |\n| `IDTO_008` | 503 | The verification service is momentarily busy. Please retry shortly. | No |\n| `IDTO_009` | 402 | Insufficient credits or balance. Please recharge and try again. | No |\n| `IDTO_010` | 422 | Idempotency-Key was already used with a different request body. | No |\n| `IDTO_101` | 400 | A required parameter is missing from the request. | No |\n| `IDTO_102` | 400 | A required parameter is missing from the request. | No |\n| `IDTO_103` | 503 | This verification could not be completed. Please retry shortly. | No |\n\nSee [v2 Error Codes](/reference/v2-error-codes).",
        "security": [
          {
            "ClientIdAuth": [],
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "422": {
            "$ref": "#/components/responses/ValidationOrIdempotencyError422"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited429"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits402"
          },
          "500": {
            "$ref": "#/components/responses/ServiceConfigError500"
          },
          "503": {
            "$ref": "#/components/responses/ServiceBusy503"
          },
          "200": {
            "description": "The EPFO lookup ran to completion.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "error_code": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "null on a full match, an IDTO_2xx code on a definitive no-record result. Both are billed."
                    },
                    "data": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/EmploymentHistoryV2Data"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "billed": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "tranx_id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "timestamp": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "error_code",
                    "data",
                    "billed"
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Record found",
                    "value": {
                      "status": "success",
                      "message": "Employment history fetched successfully.",
                      "error_code": null,
                      "data": {
                        "uan": "123456789012",
                        "profile": {
                          "name": "RAHUL SHARMA",
                          "gender": "MALE",
                          "date_of_birth": "1990-01-01"
                        },
                        "employment_history": [
                          {
                            "member_id": "KABLR00112340000012345",
                            "establishment_id": "KABLR0011234000",
                            "establishment_name": "SAMPLE PRIVATE LIMITED",
                            "date_of_joining": "2022-01-10",
                            "date_of_exit": null,
                            "is_current_employment": true
                          },
                          {
                            "member_id": "KABLR00198760000054321",
                            "establishment_id": "KABLR0019876000",
                            "establishment_name": "SAMPLE SOLUTIONS PRIVATE LIMITED",
                            "date_of_joining": "2019-06-01",
                            "date_of_exit": "2021-12-31",
                            "is_current_employment": false
                          }
                        ]
                      },
                      "billed": true,
                      "tranx_id": "8f14e45f-ceea-467e-bd93-4a2c11e0a1b2",
                      "timestamp": "2026-09-14T10:15:30Z"
                    }
                  },
                  "no_record": {
                    "summary": "Not found",
                    "value": {
                      "status": "success",
                      "message": "No EPFO employment record found for the provided UAN.",
                      "error_code": "IDTO_202",
                      "data": null,
                      "billed": true,
                      "tranx_id": "8f14e45f-ceea-467e-bd93-4a2c11e0a1b2",
                      "timestamp": "2026-09-14T10:15:30Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "uan is missing or not a 12-digit number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2ErrorEnvelope"
                },
                "examples": {
                  "missing": {
                    "summary": "Missing UAN",
                    "value": {
                      "status": "error",
                      "message": "Invalid input: uan is required. Please check and retry.",
                      "error_code": "IDTO_001",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  },
                  "bad_format": {
                    "summary": "Bad UAN format",
                    "value": {
                      "status": "error",
                      "message": "Invalid UAN. Please provide a valid 12-digit UAN.",
                      "error_code": "IDTO_001",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "uan": {
                    "type": "string",
                    "pattern": "^[0-9]{12}$",
                    "example": "123456789012"
                  },
                  "user_id": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "workflow_session_token": {
                    "type": "string",
                    "maxLength": 64
                  }
                },
                "required": [
                  "uan"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Make retries of this exact request safe. If the same key is replayed with an identical request body, the original result is returned without re-running the verification or billing again. If the same key is replayed with a different body, the request is rejected with `IDTO_010` (422). Omitting this header runs every request as new.",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ]
      }
    },
    "/v2/verify/face_match": {
      "post": {
        "tags": [
          "Face & Liveness"
        ],
        "summary": "Compare two face images",
        "description": "Compares a live capture against a reference photo (upload or URL) and returns a match score and confidence band.\n\n## Errors\n\n| Code | HTTP | Message | Billed |\n| --- | --- | --- | --- |\n| `IDTO_509` | 400 | Face match failed. | No |\n| `IDTO_503` | 400 | Image could not be read. Please try a clearer image. | No |\n| `IDTO_001` | 400 | Invalid input. Please check the request and try again. | No |\n| `IDTO_005` | 400 | User consent is required to proceed. | No |\n| `IDTO_006` | 429 | Too many requests. Please wait a moment and retry. | No |\n| `IDTO_007` | 500 | Verification could not be completed due to a service configuration issue. | No |\n| `IDTO_008` | 503 | The verification service is momentarily busy. Please retry shortly. | No |\n| `IDTO_009` | 402 | Insufficient credits or balance. Please recharge and try again. | No |\n| `IDTO_010` | 422 | Idempotency-Key was already used with a different request body. | No |\n| `IDTO_101` | 400 | A required parameter is missing from the request. | No |\n| `IDTO_102` | 400 | A required parameter is missing from the request. | No |\n| `IDTO_103` | 503 | This verification could not be completed. Please retry shortly. | No |\n\nSee [v2 Error Codes](/reference/v2-error-codes).",
        "security": [
          {
            "ClientIdAuth": [],
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "422": {
            "$ref": "#/components/responses/ValidationOrIdempotencyError422"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited429"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits402"
          },
          "500": {
            "description": "Face match could not be completed for an unclassified reason (default fallback), or the service is misconfigured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2ErrorEnvelope"
                },
                "examples": {
                  "unclassified": {
                    "summary": "Unclassified failure",
                    "value": {
                      "status": "error",
                      "message": "Face match could not be completed. Please try again.",
                      "error_code": "IDTO_509",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  },
                  "config": {
                    "summary": "Config error",
                    "value": {
                      "status": "error",
                      "message": "Verification could not be completed due to a service configuration issue. Please contact support at tech@idto.ai.",
                      "error_code": "IDTO_007",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/ServiceBusy503"
          },
          "200": {
            "description": "The face comparison ran to completion. This product has no no-record outcome; every result is either a match score or a raised error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "error_code": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "null on a full match, an IDTO_2xx code on a definitive no-record result. Both are billed."
                    },
                    "data": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/FaceMatchData"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "billed": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "tranx_id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "timestamp": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "error_code",
                    "data",
                    "billed"
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Match",
                    "value": {
                      "status": "success",
                      "message": "Face match completed",
                      "error_code": null,
                      "data": {
                        "is_match": true,
                        "match_score": 92.4,
                        "confidence": "HIGH",
                        "extras": {}
                      },
                      "billed": true,
                      "tranx_id": "8f14e45f-ceea-467e-bd93-4a2c11e0a1b2",
                      "timestamp": "2026-09-14T10:15:30Z"
                    }
                  },
                  "no_match": {
                    "summary": "No match",
                    "value": {
                      "status": "success",
                      "message": "Face match completed",
                      "error_code": null,
                      "data": {
                        "is_match": false,
                        "match_score": 18.1,
                        "confidence": "LOW",
                        "extras": {}
                      },
                      "billed": true,
                      "tranx_id": "8f14e45f-ceea-467e-bd93-4a2c11e0a1b2",
                      "timestamp": "2026-09-14T10:15:30Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Neither or both of image2/image2_url were supplied, or an image field is malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Bad input",
                    "value": {
                      "status": "error",
                      "message": "Invalid input. Please check the request and try again.",
                      "error_code": "IDTO_001",
                      "data": null,
                      "billed": false,
                      "chargeble": "false",
                      "user_consent": "false"
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "One of the supplied images exceeds the processing size limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2ErrorEnvelope"
                },
                "examples": {
                  "default": {
                    "summary": "Image too large",
                    "value": {
                      "status": "error",
                      "message": "The image could not be processed. Please try a clearer, smaller image.",
                      "error_code": "IDTO_503",
                      "data": null,
[...]
